extends base/_layout
block vars
    -
        var bodyClass = 'notfound-page';
block head
    title RR Beauty - Страница не найдена
block page

    .top
        .container
            include ./blocks/_breadcrupms


    section.notfound
        h2.top__title
            span.container 404

        .container

            h3.notfound__title Извините, мы не можем#[br]найти эту страницу! 

            .notfound__info

                .notfound__nav
                    a.notfound__to-main.btn__black(href="#") Вернуться на главную
