extends base/_layout
block vars
    - var bodyClass = 'cabinet-personal-data-page';
block head
    title RR Beauty - Личный кабинет (Личные данные)
block page

    .top
        .container
            include ./blocks/_breadcrupms

    section.cabinet

        h2.top__title.top__title--large: span.container кабинет

        .container.cabinet__container

            ul.cabinet__menu

                li.cabinet__menu-item: a.cabinet__menu-link(href="./cabinet-user-orders.html")
                    span Заказы
                    include ./blocks/_icon-cart

                li.cabinet__menu-item: a.cabinet__menu-link.active(href="./cabinet-personal-data.html")
                    span Личные данные
                    include ./blocks/_icon-settings

                li.cabinet__menu-item: a.cabinet__menu-link(href="./cabinet-favorites.html")
                    span Избранное
                    include ./blocks/_icon-favorites

                li.cabinet__menu-item: button.cabinet__menu-link(type="button" aria-label="Выйти из учётной записи")
                    span Выход
                    include ./blocks/_icon-exit

            .cabinet__content

                h3.cabinet__block-title Личные данные

                form.cabinet__form.form(action="#" novalidate)
                    .cabinet__input-wrapper
                        input.cabinet__input.input.input-required(type="text" placeholder="ФИО*" required name="user_name" autocomplete="off")
                        button.cabinet__clear(type="button" aria-label="Очистить поле")
                    .cabinet__input-wrapper
                        input.cabinet__input.input.input-required(type="text" placeholder="Email*" required name="user_email" autocomplete="off")
                        button.cabinet__clear(type="button" aria-label="Очистить поле")
                    .cabinet__input-wrapper
                        input.cabinet__input.input.input-required(type="text" data-maska="+7 (###) ###-##-##" required data-min-phone-length="18" placeholder="Номер телефона*" name="user_phone" autocomplete="off")
                        button.cabinet__clear(type="button" aria-label="Очистить поле")


                    button.cabinet__submit(type="submit" aria-label="Сохранить внесённые изменения") Сохранить изменения

                h3.cabinet__block-title Изменить пароль

                form.cabinet__form.form(action="#" novalidate)
                    .cabinet__input-wrapper
                        input.cabinet__input.input.input-required(type="text" placeholder="Новый пароль*" required name="user_password" autocomplete="off")
                        button.cabinet__clear(type="button" aria-label="Очистить поле")
                    .cabinet__input-wrapper
                        input.cabinet__input.input.input-required(type="text" placeholder="Новый пароль еще раз*" name="user_password_repeat" required autocomplete="off")
                        button.cabinet__clear(type="button" aria-label="Очистить поле")


                    button.cabinet__submit(type="submit" aria-label="Сохранить введённый новый пароль") Сохранить новый пароль


