extends base/_layout
block vars
    - var bodyClass = 'catalog-page cart-non-empty';
block head
    title RR Beauty - Каталог
block page

    include ./blocks/_floating-cart

    .top
        .container
            include ./blocks/_breadcrupms



    section.catalog

        h2.top__title: span.container Пигменты

        .container.catalog__container

            .catalog__options.options

                .options__nav
                    button.options__filtersToggleBtn(aria-label="Показать / скрыть фильтры" type="button")
                        include ./blocks/_icon-filter
                        span Фильтр
                        include ./blocks/_icon-close
                    label.options__sortToggleBtn(aria-label="Показать / скрыть сортировку" data-sort-type="popularity")
                        span.options__current По популярности
                        span.options__currentSmall Сортировка
                        include ./blocks/_icon-sort
                        input.visualhidden(type="text" value="popularity")

                .options__overlay

                ul.options__sortList

                    li: button(type="button" aria-label="Сортировать по популярности" data-sort-type="popularity")
                        span По популярности
                        img(src="./images/icon-popularity.svg" alt="")
                    li: button(type="button" aria-label="Сортировать по возрастанию цены" data-sort-type="increase")
                        span По возрастанию цены
                        img(src="./images/icon-increase.svg" alt="")
                    li: button(type="button" aria-label="Сортировать по по убыванию цены" data-sort-type="decrease")
                        span По убыванию цены
                        img(src="./images/icon-decrease.svg" alt="")

                form.options__filters.filters


                    .filters__block
                        button.filters__button(type="button" aria-label=" Показать / скрыть категорию фильтров") Стоимость
                            include ./blocks/_icon-plus
                            include ./blocks/_icon-minus
                        .filters__wrapper

                            .filters__values
                                input.filters__valueMin(type="number" placeholder="0₽" min="0" max="1000") 
                                input.filters__valueMax(type="number" placeholder="1000₽" min="0" max="1000")

                            .filters__set
                                .filters__slider
                                    .filters__track
                                .filters__inputs
                                    input.filters__inputMin.filters__range(type='range' min="0" max="1000" value="0" step="1")
                                    input.filters__inputMax.filters__range(type='range' min="0" max="1000" value="1000" step="1")




                    .filters__block
                        button.filters__button(type="button" aria-label=" Показать / скрыть категорию фильтров") Размер
                            include ./blocks/_icon-plus
                            include ./blocks/_icon-minus
                        .filters__wrapper
                            ul.filters__list

                                -
                                    const filtersData1 = [
                                        'Объём',
                                        'Объём',
                                        'Объём',
                                        'Объём',
                                    ]

                                each filtersItem in filtersData1
                                    +filtersItem(filtersItem)



                    .filters__block
                        button.filters__button(type="button" aria-label=" Показать / скрыть категорию фильтров") Бренд
                            include ./blocks/_icon-plus
                            include ./blocks/_icon-minus
                        .filters__wrapper
                            .filters__search
                                input(type="search" placeholder='Поиск бренда' autocomplete="off")
                            .filters__listName A
                            ul.filters__list

                                -
                                    const filtersData2 = [
                                        'Alina Shakhova',
                                        'RR Beauty',
                                        'A. Sivak',
                                        'Cheyenne',
                                    ]

                                each filtersItem in filtersData2
                                    +filtersItem(filtersItem)

                            .filters__listName B
                            ul.filters__list

                                -
                                    const filtersData3 = [
                                        'Alina Shakhova',
                                        'RR Beauty',
                                        'A. Sivak',
                                        'Cheyenne',
                                    ]

                                each filtersItem in filtersData3
                                    +filtersItem(filtersItem)



                    .filters__block
                        button.filters__button(type="button" aria-label=" Показать / скрыть категорию фильтров") Критерий
                            include ./blocks/_icon-plus
                            include ./blocks/_icon-minus
                        .filters__wrapper
                            ul.filters__list

                                -
                                    const filtersData4 = [
                                        'Объём',
                                        'Объём',
                                        'Объём',
                                        'Объём',
                                    ]

                                each filtersItem in filtersData4
                                    +filtersItem(filtersItem)


                    input.filters__submit(type="submit" aria-label="Применить фильтры" value="Применить") 
                    input.filters__reset(type="reset" aria-label="Сбросить все фильтры" value="Сбросить")



            .catalog__content


                .catalog__aditionalFilters.aditionalFilters

                    button.aditionalFilters__button Вся косметика
                    button.aditionalFilters__button Аппараты
                    button.aditionalFilters__button Все для отрисовки эскиза
                    button.aditionalFilters__button Дезинфицирующие средства
                    button.aditionalFilters__button Охлаждающие крема и гели
                    button.aditionalFilters__button Средства ухода

                .catalog__wrapper

                    -
                        var goodsList = [
                            {
                                imgUrl: 'goods-card-4',
                                isSale: true,
                                isHit: false,
                                price: '3 800₸',
                                oldPrice: '4 800₸',
                                name: 'AS COMPANY',
                                descr: 'Пигмент для губ Nut pie (Ореховое пралине), 6 мл',
                                isAddedToFavorites: false
                            },
                            {
                                imgUrl: 'goods-card-5',
                                isSale: false,
                                isHit: true,
                                price: '3 800₸',
                                oldPrice: false,
                                name: 'AS COMPANY',
                                descr: 'Корректор для сине-серых бровей FOR BLUE GRAY EYEBROWS, 6 мл',
                                isAddedToFavorites: false
                            },
                            {
                                imgUrl: 'goods-card-6',
                                isSale: false,
                                isHit: false,
                                price: '3 800₸',
                                oldPrice: false,
                                name: 'AS COMPANY',
                                descr: 'Пигмент для бровей Brown haired (Шатен), 6 мл',
                                isAddedToFavorites: false
                            },
                            {
                                imgUrl: 'goods-card-6',
                                isSale: false,
                                isHit: false,
                                price: '3 800₸',
                                oldPrice: false,
                                name: 'AS COMPANY',
                                descr: 'Корректор для сине-серых бровей FOR BLUE GRAY EYEBROWS, 6 мл',
                                isAddedToFavorites: false
                            },
                            {
                                imgUrl: 'goods-card-7',
                                isSale: false,
                                isHit: false,
                                price: '3 800₸',
                                oldPrice: false,
                                name: 'AS COMPANY',
                                descr: 'Пигмент для бровей Brown haired (Шатен), 6 мл',
                                isAddedToFavorites: false
                            },
                            {
                                imgUrl: 'goods-card-6',
                                isSale: false,
                                isHit: false,
                                price: '3 800₸',
                                oldPrice: false,
                                name: 'AS COMPANY',
                                descr: 'Корректор для сине-серых бровей FOR BLUE GRAY EYEBROWS, 6 мл',
                                isAddedToFavorites: false
                            },
                            {
                                imgUrl: 'goods-card-6',
                                isSale: false,
                                isHit: false,
                                price: '3 800₸',
                                oldPrice: '4 800₸',
                                name: 'AS COMPANY',
                                descr: 'MATTE LIP LIQUID #matteaboutyou Жидкая матовая помада',
                                isAddedToFavorites: false
                            },
                            {
                                imgUrl: 'goods-card-5',
                                isSale: false,
                                isHit: true,
                                price: '3 800₸',
                                oldPrice: false,
                                name: 'AS COMPANY',
                                descr: 'Корректор для сине-серых бровей FOR BLUE GRAY EYEBROWS, 6 мл',
                                isAddedToFavorites: false
                            },
                            {
                                imgUrl: 'goods-card-6',
                                isSale: false,
                                isHit: false,
                                price: '3 800₸',
                                oldPrice: false,
                                name: 'AS COMPANY',
                                descr: 'Пигмент для бровей Brown haired (Шатен), 6 мл',
                                isAddedToFavorites: false
                            },
                        ]

                    each good in goodsList
                        +goodsCardItemSmall(good.imgUrl, good.isSale, good.isHit, good.price, good.oldPrice, good.name, good.descr, good.isAddedToFavorites)



                +pagination('catalog__pagination')

                button.catalog__btn.showmore__btn Показать еще
