extends base/_layout
block vars
    - var bodyClass = 'catalog-favorites-page';
block head
    title RR Beauty - Каталог
block page

    .top
        .container
            include ./blocks/_breadcrupms

    section.catalog

        h2.top__title: span.container Избранное

        .container.catalog__container

            .catalog__content

                .catalog__wrapper

                    -
                        var goodsList = [
                            {
                                imgUrl: 'goods-card-4',
                                isSale: true,
                                isHit: false,
                                price: '3 800₸',
                                oldPrice: '4 800₸',
                                name: 'AS COMPANY',
                                descr: 'Пигмент для губ Nut pie (Ореховое пралине), 6 мл',
                                isAddedToFavorites: true
                            },
                            {
                                imgUrl: 'goods-card-5',
                                isSale: false,
                                isHit: true,
                                price: '3 800₸',
                                oldPrice: false,
                                name: 'AS COMPANY',
                                descr: 'Корректор для сине-серых бровей FOR BLUE GRAY EYEBROWS, 6 мл',
                                isAddedToFavorites: true
                            },
                            {
                                imgUrl: 'goods-card-6',
                                isSale: false,
                                isHit: false,
                                price: '3 800₸',
                                oldPrice: false,
                                name: 'AS COMPANY',
                                descr: 'Пигмент для бровей Brown haired (Шатен), 6 мл',
                                isAddedToFavorites: true
                            },
                            {
                                imgUrl: 'goods-card-6',
                                isSale: false,
                                isHit: false,
                                price: '3 800₸',
                                oldPrice: false,
                                name: 'AS COMPANY',
                                descr: 'Корректор для сине-серых бровей FOR BLUE GRAY EYEBROWS, 6 мл',
                                isAddedToFavorites: true
                            },
                            {
                                imgUrl: 'goods-card-7',
                                isSale: false,
                                isHit: false,
                                price: '3 800₸',
                                oldPrice: false,
                                name: 'AS COMPANY',
                                descr: 'Пигмент для бровей Brown haired (Шатен), 6 мл',
                                isAddedToFavorites: true
                            },
                            {
                                imgUrl: 'goods-card-6',
                                isSale: false,
                                isHit: false,
                                price: '3 800₸',
                                oldPrice: false,
                                name: 'AS COMPANY',
                                descr: 'Корректор для сине-серых бровей FOR BLUE GRAY EYEBROWS, 6 мл',
                                isAddedToFavorites: true
                            },
                            {
                                imgUrl: 'goods-card-6',
                                isSale: false,
                                isHit: false,
                                price: '3 800₸',
                                oldPrice: '4 800₸',
                                name: 'AS COMPANY',
                                descr: 'MATTE LIP LIQUID #matteaboutyou Жидкая матовая помада',
                                isAddedToFavorites: true
                            },
                            {
                                imgUrl: 'goods-card-5',
                                isSale: false,
                                isHit: true,
                                price: '3 800₸',
                                oldPrice: false,
                                name: 'AS COMPANY',
                                descr: 'Корректор для сине-серых бровей FOR BLUE GRAY EYEBROWS, 6 мл',
                                isAddedToFavorites: true
                            },
                            {
                                imgUrl: 'goods-card-6',
                                isSale: false,
                                isHit: false,
                                price: '3 800₸',
                                oldPrice: false,
                                name: 'AS COMPANY',
                                descr: 'Пигмент для бровей Brown haired (Шатен), 6 мл',
                                isAddedToFavorites: true
                            },
                        ]

                    each good in goodsList
                        +goodsCardItemSmall(good.imgUrl, good.isSale, good.isHit, good.price, good.oldPrice, good.name, good.descr, good.isAddedToFavorites)



                +pagination('catalog__pagination')

                button.catalog__btn.showmore__btn Показать еще
