extends base/_layout
block vars
    - var bodyClass = 'catalog-item';
block head
    title RR Beauty - Карточка товара
block page

    .top
        .container
            ul.top__breadcrumps
                li: a(href="#") Главная
                li: a(href="#") Каталог
                li: span Средства ухода

    section.item
        .container.item__container

            .item__view.view

                .view__wrapper

                    .view__small.swiper
                        .swiper-wrapper
                            .view__small-item.swiper-slide
                                img(src="./images/view-small-1.png" alt="Фото товара")
                            .view__small-item.swiper-slide
                                img(src="./images/view-small-2.png" alt="Фото товара")
                            .view__small-item.swiper-slide
                                img(src="./images/view-small-2.png" alt="Фото товара")
                            .view__small-item.swiper-slide
                                img(src="./images/view-small-4.png" alt="Фото товара")
                            .view__small-item.swiper-slide
                                img(src="./images/view-small-5.png" alt="Фото товара")
                            .view__small-item.swiper-slide
                                img(src="./images/view-small-6.png" alt="Фото товара")

                    .view__full.swiper
                        .swiper-wrapper
                            .view__full-item.swiper-slide
                                img(src="./images/view-full-1.png" alt="Фото товара")
                            .view__full-item.swiper-slide
                                img(src="./images/goods-card-5.png" alt="Фото товара")
                            .view__full-item.swiper-slide
                                img(src="./images/goods-card-5.png" alt="Фото товара")
                            .view__full-item.swiper-slide
                                img(src="./images/view-full-4.png" alt="Фото товара")
                            .view__full-item.swiper-slide
                                img(src="./images/view-full-5.png" alt="Фото товара")
                            .view__full-item.swiper-slide
                                img(src="./images/view-full-6.png" alt="Фото товара")

            .item__details.details

                .details__top
                    .details__marks

                        span.details__sticker.sticker__sale.sticker__red Хит
                        .details__brand
                            img(src="./images/givenchy-logo.svg" alt="Givenchy")
                    h2.details__title INTENZE Products Lemon Yellow 2 oz

                span.details__decor

                .details__feature.details__feature-weight
                    .details__name
                        span Вес / 
                        span.details__current 12 гр
                    .details__values
                        button.details__set-value.selected(type="button" aria-label="Выбрать вес") 12
                        button.details__set-value(type="button" aria-label="Выбрать вес") 20
                        button.details__set-value(type="button" aria-label="Выбрать вес") 25
                        button.details__set-value(type="button" aria-label="Выбрать вес") 32

                -
                    const colors = [
                        {value: 'F4ECEC', colorName: 'Whisper', isSelected: true},
                        {value: 'D87779', colorName: 'Froly', isSelected: false},
                        {value: 'E84851', colorName: 'Mandy', isSelected: false},
                        {value: 'E99E82', colorName: 'Tonys Pink', isSelected: false},
                        {value: 'DB828E', colorName: 'Carissma', isSelected: false},
                        {value: 'E18682', colorName: 'Sea Pink', isSelected: false},
                        {value: 'F7D1D0', colorName: 'Cosmos', isSelected: false},
                        {value: 'D69B82', colorName: 'Tumbleweed', isSelected: false},
                        {value: 'E9ABAE', colorName: 'Pale Chestnut', isSelected: false},
                        {value: 'E99E82', colorName: 'Tonys Pink', isSelected: false},
                        {value: 'DB828E', colorName: 'Carissma', isSelected: false},
                        {value: 'E18682', colorName: 'Sea Pink', isSelected: false},
                        {value: 'F7D1D0', colorName: 'Cosmos', isSelected: false},
                        {value: 'D69B82', colorName: 'Tumbleweed', isSelected: false},
                        {value: 'E9ABAE', colorName: 'Pale Chestnut', isSelected: false},
                        {value: 'D87779', colorName: 'Flory', isSelected: false},
                        {value: 'E84851', colorName: 'Mandy', isSelected: false},
                        {value: 'E9ABAE', colorName: 'Pale Chestnut', isSelected: false},
                        {value: 'E99E82', colorName: 'Tonys Pink', isSelected: false},
                        {value: 'DB828E', colorName: 'Carissma', isSelected: false},
                        {value: 'E18682', colorName: 'Sea Pink', isSelected: false},
                        {value: 'F7D1D0', colorName: 'Cosmos', isSelected: false},
                        {value: 'D69B82', colorName: 'Tumbleweed', isSelected: false},
                        {value: 'E9ABAE', colorName: 'Pale Chestnut', isSelected: false},
                        {value: 'D87779', colorName: 'Flory', isSelected: false},
                        {value: 'E84851', colorName: 'Mandy', isSelected: false},
                    ]


                .details__feature.details__feature-color
                    .details__name
                        span Цвет / 
                        span.details__current whisper
                    .details__values
                        each color in colors
                            button.details__set-value(type="button" aria-label="Выбрать цвет" data-color-name= color.colorName style="background-color:#" + color.value + ";" class= color.isSelected ? 'selected' : '')
                        button.details__toggle-btn.non-overflow(type="button" aria-label="Показать / скрыть все цвета")
                            span
                            span

                .details__price
                    span.details__current-price 3 800₸
                    span.details__old-price 4 800₸

                .details__panel

                    .details__amount.goods-amount
                        button.detalis__decrease.goods-decrease
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                                path(d="M19 13H5V11H19V13Z" fill="black")

                        input.goods-amout(type="number" value="1")

                        button.detalis__increase.goods-increase
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                                path(d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z" fill="black")

                    button.details__add-to-cart(type="button" aria-label="Добавить в корзину") В корзину

                    button.details__add-to-favorites(type="button" aria-label="Добавить в избранное")
                        img(src="./images/heart-icon.svg" alt="Добавить в избранное")
                        img(src="./images/heart-icon-black.svg" alt="Добавить в избранное")
                        img(src="./images/heart-icon-red.svg" alt="Убрать из избранного")

                    button.details__one-click(type="button" aria-label="Купить товар в один клик") Купить в 1 клик


            .item__info.info
                .info__heading
                    ul.info__heading-list.hidescrollbar
                        li: button.info__heading-btn.active(type="button" data-heading="descr" aria-label="Показать описание") Описание
                        li: button.info__heading-btn(type="button" aria-label="Показать характеристики" data-heading="features") Характеристики
                        li: button.info__heading-btn(type="button" aria-label="Показать документы" data-heading="docs") Документы
                        li: button.info__heading-btn(type="button" aria-label="Показать информацию о доставке и оплате" data-heading="shipping") Доставка и оплата
                        li: button.info__heading-btn(type="button" aria-label="Показать отзывы на товар" data-heading="reviews") Отзывы


                .info__wrapper

                    .info__tab.info__descr(data-tab="descr")
                        p Парфюмерный бренд из Италии, основан креативным директором Серджио Момо в 2004 году. Его основной целью было предложить парфюмерному рынку продукт, в котором не было бы компромисса между качеством аромата и качеством упаковки.

                        p Аромат с нотами искристого бергамота врезается в память и воскрешает истории об итальянских скалах, звуке разбивающихся о них волн и все оттенки морской воды. Цитрусовый взрыв плавно перетекает в цветки табака и прощается мускусными нотами.

                    .info__tab.info__features.hidden(data-tab="features")
                        .info__feature
                            span.info__name Характеристика
                            span.info__dots
                            span.info__value Объем

                        .info__feature
                            span.info__name Характеристика
                            span.info__dots
                            span.info__value Объем

                        .info__feature
                            span.info__name Характеристика
                            span.info__dots
                            span.info__value Объем

                        .info__feature
                            span.info__name Характеристика
                            span.info__dots
                            span.info__value Объем

                        .info__feature
                            span.info__name Характеристика
                            span.info__dots
                            span.info__value Объем

                    .info__tab.info__docs.hidden(data-tab="docs")

                        a.info__doc-link(href="#" target="_blank")
                            span.info__description
                                span.info__doc-name Сертификат соответствия
                                span.info__doc-format PDF
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                                path(d="M14 3V5H17.59L7.76 14.83L9.17 16.24L19 6.41V10H21V3M19 19H5V5H12V3H5C3.89 3 3 3.9 3 5V19C3 19.5304 3.21071 20.0391 3.58579 20.4142C3.96086 20.7893 4.46957 21 5 21H19C19.5304 21 20.0391 20.7893 20.4142 20.4142C20.7893 20.0391 21 19.5304 21 19V12H19V19Z" fill="black")

                        a.info__doc-link(href="#" target="_blank")
                            span.info__description
                                span.info__doc-name Сертификат соответствия
                                span.info__doc-format PDF
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                                path(d="M14 3V5H17.59L7.76 14.83L9.17 16.24L19 6.41V10H21V3M19 19H5V5H12V3H5C3.89 3 3 3.9 3 5V19C3 19.5304 3.21071 20.0391 3.58579 20.4142C3.96086 20.7893 4.46957 21 5 21H19C19.5304 21 20.0391 20.7893 20.4142 20.4142C20.7893 20.0391 21 19.5304 21 19V12H19V19Z" fill="black")

                    .info__tab.info__shipping.hidden(data-tab="shipping")
                        p Парфюмерный бренд из Италии, основан креативным директором Серджио Момо в 2004 году. Его основной целью было предложить парфюмерному рынку продукт, в котором не было бы компромисса между качеством аромата и качеством упаковки.

                        p Аромат с нотами искристого бергамота врезается в память и воскрешает истории об итальянских скалах, звуке разбивающихся о них волн и все оттенки морской воды. Цитрусовый взрыв плавно перетекает в цветки табака и прощается мускусными нотами.

                        a(href="#") Подробнее о доставке

                    .info__tab.info__reviews.hidden(data-tab="reviews")

                        +infoReviewsItem('qw54#')
                        +infoReviewsItem('zmK81')
                        +infoReviewsItem('vl7rZ')

                        button.info__reviews-btn(type="button" aria-label="Показать панель добавления отзыва") Добавить отзыв

                        .info__reviews-add.add
                            .add__top
                                h3.add__title Добавить отзыв
                                button.add__close-btn.reviews-close
                                    span Закрыть
                                    svg(class="add__close-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                                        path(d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z" fill="black")

                            form(action="#" novalidate).add__form
                                .add__wrapper
                                    .add__data
                                        input.add__input(type="text" name="user_name" placeholder="Ваше имя" maxlength="30" required)
                                        input.add__input(type="email" name="email" placeholder="Email" required)

                                    +starRating('add__rating', false, 2)

                                    textarea.add__text(name="comment" placeholder="Расскажите о товаре" required)

                                    .add__images
                                        .add__img
                                            img(src="./images/info-img.png" alt="фото отзыва")

                                        button.add__img-btn(type="button" aria-label="Добавить фото")
                                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                                                path(d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z" fill="#757575")


                                button.add__publish-btn(type="submit" aria-label="Опубликовать отзыв о товаре") Опубликовать отзыв

                                button.add__publish-close.reviews-close(type="button" aria-label="Закрыть понель добавления отзыва") Закрыть


    section.oneclick
        .oneclick__overlay.oneclick-close
        .oneclick__wrapper
            .oneclick__inner
                button.oneclick__close-btn.oneclick-close(type="button" aria-label="Закрыть окно заказа \'В один клик\'")
                    svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                        path(d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z" fill="black")
                .oneclick__top
                    h2.oneclick__title В 1 клик
                    h2.oneclick__title.oneclick__title--submited Готово!
                    p.oneclick__subtitle Менеджер перезвонит вам, узнает все детали и заказ будет оформлен.

                .oneclick__form-container

                    form.oneclick__form(action="#" novalidate)
                        input.oneclick__input(type="text" placeholder="Ваше имя*" required name="customer_name")
                        input.oneclick__input.oneclick__phone(type="text" placeholder="Ваш телефон*" name="customer_phone" data-maska="+7 (###) ###-##-##" required data-min-phone-length="18")
                        input.oneclick__input(type="text" placeholder="Ваша почта" name="customer_email")

                        button.oneclick__submit(type="submit" aria-label="Отправить данные для заказа в 1 клик") Отправить

                    .oneclick__policy
                        span Продолжая, вы соглашаетесь с#[br]
                        a(href="#" target="_blank") политикой конфиденциальности

                    button.oneclick__hide-btn.oneclick-close(type="button" aria-label="Закрыть окно заказа \'В один клик\'") Закрыть



    section.popularGoods.goodsSection.slider-start.mightlike

        .autoscroll__block
            ul.autoscroll__list.list1
                li: h2.autoscroll__title вам может понравиться
                li: h2.autoscroll__title вам может понравиться
                li: h2.autoscroll__title.title__hidden |
            ul.autoscroll__list.list2
                li: h2.autoscroll__title вам может понравиться
                li: h2.autoscroll__title вам может понравиться
                li: h2.autoscroll__title.title__hidden |
            ul.autoscroll__list.list3
                li: h2.autoscroll__title вам может понравиться
                li: h2.autoscroll__title вам может понравиться
                li: h2.autoscroll__title.title__hidden |


        .container

            .goodsCard__wrapper

                include ./blocks/_goods-card-items

            button.brandsSection__btn.showmore__btn Показать еще







