extends base/_layout
block vars
    - var bodyClass = 'catalog-item';
block head
    title RR Beauty - Карточка товара
block page

    .top
        .container
            include ./blocks/_breadcrupms



    article.item
        .container.item__container

            .item__view.view

                .view__wrapper

                    .view__small.swiper
                        .swiper-wrapper
                            .view__small-item.swiper-slide
                                +picture('view-small-1', 'jpg', 'x2')
                            .view__small-item.swiper-slide
                                +picture('view-small-5', 'jpg', 'x2')
                            .view__small-item.swiper-slide
                                +picture('view-small-6', 'jpg', 'x2')
                            .view__small-item.swiper-slide
                                +picture('view-small-4', 'jpg', 'x2')
                            .view__small-item.swiper-slide
                                +picture('view-small-5', 'jpg', 'x2')
                            .view__small-item.swiper-slide
                                +picture('view-small-6', 'jpg', 'x2')

                    .view__full.swiper
                        .swiper-wrapper
                            .view__full-item.swiper-slide
                                +picture('view-full-1', 'jpg', 'x2')
                            .view__full-item.swiper-slide
                                +picture('view-full-5', 'jpg', 'x2')
                            .view__full-item.swiper-slide
                                +picture('view-full-6', 'jpg', 'x2')
                            .view__full-item.swiper-slide
                                +picture('view-full-4', 'jpg', 'x2')
                            .view__full-item.swiper-slide
                                +picture('view-full-5', 'jpg', 'x2')
                            .view__full-item.swiper-slide
                                +picture('view-full-6', 'jpg', 'x2')

            .item__details.details

                .details__top
                    .details__marks

                        span.details__sticker.sticker__sale.sticker__red Хит
                        .details__brand
                            img(src="./images/brand-1.svg" alt="Givenchy")
                    h2.details__title INTENZE Products Lemon Yellow 2 oz

                span.details__decor

                .details__feature.details__feature-weight
                    .details__name
                        span Вес / 
                        span.details__current 12 гр
                    .details__values
                        label.details__set-value.selected 12
                            input(type="radio" value="12" aria-label="Выбрать вес")
                        label.details__set-value 20
                            input(type="radio" value="20" aria-label="Выбрать вес")
                        label.details__set-value 25
                            input(type="radio" value="25" aria-label="Выбрать вес")
                        label.details__set-value 32
                            input(type="radio" value="32" aria-label="Выбрать вес")

                -
                    const colors = [
                        {value: 'F4ECEC', colorName: 'Whisper', isSelected: true},
                        {value: 'D87779', colorName: 'Froly', isSelected: false},
                        {value: 'E84851', colorName: 'Mandy', isSelected: false},
                        {value: 'E99E82', colorName: 'Tonys Pink', isSelected: false},
                        {value: 'DB828E', colorName: 'Carissma', isSelected: false},
                        {value: 'E18682', colorName: 'Sea Pink', isSelected: false},
                        {value: 'F7D1D0', colorName: 'Cosmos', isSelected: false},
                        {value: 'D69B82', colorName: 'Tumbleweed', isSelected: false},
                        {value: 'E9ABAE', colorName: 'Pale Chestnut', isSelected: false},
                        {value: 'E99E82', colorName: 'Tonys Pink', isSelected: false},
                        {value: 'DB828E', colorName: 'Carissma', isSelected: false},
                        {value: 'E18682', colorName: 'Sea Pink', isSelected: false},
                        {value: 'F7D1D0', colorName: 'Cosmos', isSelected: false},
                        {value: 'D69B82', colorName: 'Tumbleweed', isSelected: false},
                        {value: 'E9ABAE', colorName: 'Pale Chestnut', isSelected: false},
                        {value: 'D87779', colorName: 'Flory', isSelected: false},
                        {value: 'E84851', colorName: 'Mandy', isSelected: false},
                        {value: 'E9ABAE', colorName: 'Pale Chestnut', isSelected: false},
                        {value: 'E99E82', colorName: 'Tonys Pink', isSelected: false},
                        {value: 'DB828E', colorName: 'Carissma', isSelected: false},
                        {value: 'E18682', colorName: 'Sea Pink', isSelected: false},
                        {value: 'F7D1D0', colorName: 'Cosmos', isSelected: false},
                        {value: 'D69B82', colorName: 'Tumbleweed', isSelected: false},
                        {value: 'E9ABAE', colorName: 'Pale Chestnut', isSelected: false},
                        {value: 'D87779', colorName: 'Flory', isSelected: false},
                        {value: 'E84851', colorName: 'Mandy', isSelected: false},
                    ]


                .details__feature.details__feature-color
                    .details__name
                        span Цвет / 
                        span.details__current whisper
                    .details__values
                        each color in colors
                            label.details__set-value(aria-label="Выбрать цвет" data-color-name= color.colorName style="background-color:#" + color.value + ";" class= color.isSelected ? 'selected' : '')
                                input.visualhidden(type="radio" value= color.colorName)
                        button.details__toggle-btn.non-overflow(type="button" aria-label="Показать / скрыть все цвета")
                            span
                            span

                .details__price
                    span.details__current-price 3 800₸
                    span.details__old-price 4 800₸

                .details__panel

                    .details__amount.goods-amount
                        button.detalis__decrease.goods-decrease
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                                path(d="M19 13H5V11H19V13Z" fill="black")

                        input.goods-amout(type="number" value="1")

                        button.detalis__increase.goods-increase
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                                path(d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z" fill="black")

                    button.details__add-to-cart(type="button" aria-label="Добавить в корзину")
                        span.non-added В корзину
                        span.added В корзине

                    button.details__add-to-favorites(type="button" aria-label="Добавить в избранное")
                        img(src="./images/heart-icon.svg" alt="Добавить в избранное")
                        img(src="./images/heart-icon-black.svg" alt="Добавить в избранное")
                        img(src="./images/heart-icon-red.svg" alt="Убрать из избранного")

                    button.details__one-click(type="button" aria-label="Купить товар в один клик") Купить в 1 клик


            .item__info.info
                .info__heading
                    ul.info__heading-list.hidescrollbar
                        li: button.info__heading-btn.active(type="button" data-heading="descr" aria-label="Показать описание") Описание
                        li: button.info__heading-btn(type="button" aria-label="Показать характеристики" data-heading="features") Характеристики
                        li: button.info__heading-btn(type="button" aria-label="Показать документы" data-heading="docs") Документы
                        li: button.info__heading-btn(type="button" aria-label="Показать информацию о доставке и оплате" data-heading="shipping") Доставка и оплата
                        li: button.info__heading-btn(type="button" aria-label="Показать отзывы на товар" data-heading="reviews") Отзывы


                .info__wrapper

                    .info__tab.info__descr(data-tab="descr")
                        p Парфюмерный бренд из Италии, основан креативным директором Серджио Момо в 2004 году. Его основной целью было предложить парфюмерному рынку продукт, в котором не было бы компромисса между качеством аромата и качеством упаковки.

                        p Аромат с нотами искристого бергамота врезается в память и воскрешает истории об итальянских скалах, звуке разбивающихся о них волн и все оттенки морской воды. Цитрусовый взрыв плавно перетекает в цветки табака и прощается мускусными нотами.

                    .info__tab.info__features.hidden(data-tab="features")
                        .info__feature
                            span.info__name Характеристика
                            span.info__dots
                            span.info__value Объем

                        .info__feature
                            span.info__name Характеристика
                            span.info__dots
                            span.info__value Объем

                        .info__feature
                            span.info__name Характеристика
                            span.info__dots
                            span.info__value Объем

                        .info__feature
                            span.info__name Характеристика
                            span.info__dots
                            span.info__value Объем

                        .info__feature
                            span.info__name Характеристика
                            span.info__dots
                            span.info__value Объем

                    .info__tab.info__docs.hidden(data-tab="docs")

                        a.info__doc-link(href="#" target="_blank")
                            span.info__description
                                span.info__doc-name Сертификат соответствия
                                span.info__doc-format PDF
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                                path(d="M14 3V5H17.59L7.76 14.83L9.17 16.24L19 6.41V10H21V3M19 19H5V5H12V3H5C3.89 3 3 3.9 3 5V19C3 19.5304 3.21071 20.0391 3.58579 20.4142C3.96086 20.7893 4.46957 21 5 21H19C19.5304 21 20.0391 20.7893 20.4142 20.4142C20.7893 20.0391 21 19.5304 21 19V12H19V19Z" fill="black")

                        a.info__doc-link(href="#" target="_blank")
                            span.info__description
                                span.info__doc-name Сертификат соответствия
                                span.info__doc-format PDF
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                                path(d="M14 3V5H17.59L7.76 14.83L9.17 16.24L19 6.41V10H21V3M19 19H5V5H12V3H5C3.89 3 3 3.9 3 5V19C3 19.5304 3.21071 20.0391 3.58579 20.4142C3.96086 20.7893 4.46957 21 5 21H19C19.5304 21 20.0391 20.7893 20.4142 20.4142C20.7893 20.0391 21 19.5304 21 19V12H19V19Z" fill="black")

                    .info__tab.info__shipping.hidden(data-tab="shipping")
                        p Парфюмерный бренд из Италии, основан креативным директором Серджио Момо в 2004 году. Его основной целью было предложить парфюмерному рынку продукт, в котором не было бы компромисса между качеством аромата и качеством упаковки.

                        p Аромат с нотами искристого бергамота врезается в память и воскрешает истории об итальянских скалах, звуке разбивающихся о них волн и все оттенки морской воды. Цитрусовый взрыв плавно перетекает в цветки табака и прощается мускусными нотами.

                        a(href="#") Подробнее о доставке

                    .info__tab.info__reviews.hidden(data-tab="reviews")

                        +infoReviewsItem('qw54#')
                        +infoReviewsItem('zmK81')
                        +infoReviewsItem('vl7rZ')

                        button.info__reviews-btn(type="button" aria-label="Показать панель добавления отзыва") Добавить отзыв

                        .info__reviews-add.add
                            .add__top
                                h3.add__title Добавить отзыв
                                button.add__close-btn.reviews-close
                                    span Закрыть
                                    svg(class="add__close-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                                        path(d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z" fill="black")

                            form(action="#" novalidate).add__form
                                .add__wrapper
                                    .add__data
                                        input.add__input(type="text" name="user_name" placeholder="Ваше имя" maxlength="30" required autocomplete="off")
                                        input.add__input(type="email" name="email" placeholder="Email" required autocomplete="off")

                                    +starRating('add__rating', false, 2)

                                    textarea.add__text(name="comment" placeholder="Расскажите о товаре" required)

                                    .add__images
                                        .add__img
                                            img(src="./images/cer1.jpg" alt="фото отзыва")
                                            button.add__img-remove(type="button" aria-label="Удалить фото отзыва")


                                        label.add__img-btn
                                            input#images_input(type="file" multiple accept="image/png, image/jpeg, image/jpg" aria-label="Добавить фото")
                                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                                                path(d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z" fill="#757575")


                                button.add__publish-btn(type="submit" aria-label="Опубликовать отзыв о товаре") Опубликовать отзыв

                                button.add__publish-close.reviews-close(type="button" aria-label="Закрыть понель добавления отзыва") Закрыть

    .fullscreen
        .container.fullscreen__container
            .fullscreen__wrapper
                .fullscreen__close
                    include ./blocks/_icon-close
                .fullscreen__slider.swiper-slider 
                    .swiper-wrapper

                .fullscreen__nav.intro__nav

                    button.intro__btn.certificates__prev(type="button" aria-label="Показать предыдущий слайд")
                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                            path(d="M20.0002 11.0001V13.0001H8.00016L13.5002 18.5001L12.0802 19.9201L4.16016 12.0001L12.0802 4.08008L13.5002 5.50008L8.00016 11.0001H20.0002Z" fill="#000")

                    span

                    button.intro__btn.certificates__next(type="button" aria-label="Показать следующий слайд")
                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                            path(d="M3.99984 11.0001V13.0001H15.9998L10.4998 18.5001L11.9198 19.9201L19.8398 12.0001L11.9198 4.08008L10.4998 5.50008L15.9998 11.0001H3.99984Z" fill="#000")


    section.oneclick
        .oneclick__overlay.oneclick-close
        .oneclick__wrapper
            .oneclick__inner
                button.oneclick__close-btn.oneclick-close(type="button" aria-label="Закрыть окно заказа \'В один клик\'")
                    svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                        path(d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z" fill="black")
                .oneclick__top
                    h2.oneclick__title В 1 клик
                    h2.oneclick__title.oneclick__title--submited Готово!
                    p.oneclick__subtitle Менеджер перезвонит вам, узнает все детали и заказ будет оформлен.

                .oneclick__form-container

                    form.oneclick__form(action="#" novalidate)
                        input.oneclick__input(type="text" placeholder="Ваше имя*" required name="customer_name" autocomplete="off")
                        input.oneclick__input.oneclick__phone(type="text" placeholder="Ваш телефон*" name="customer_phone" data-maska="+7 (###) ###-##-##" required data-min-phone-length="18" autocomplete="off")
                        input.oneclick__input(type="text" placeholder="Ваша почта" name="customer_email")

                        button.oneclick__submit(type="submit" aria-label="Отправить данные для заказа в 1 клик") Отправить

                    .oneclick__policy
                        span Продолжая, вы соглашаетесь с#[br]
                        a(href="#" target="_blank") политикой конфиденциальности

                    button.oneclick__hide-btn.oneclick-close(type="button" aria-label="Закрыть окно заказа \'В один клик\'") Закрыть


    .review-submited
        .review-submited__overlay.review-submited-close
        .review-submited__wrapper
            button.add__close-btn.review-submited__close.review-submited-close
                span Закрыть
                svg(class="add__close-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                    path(d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z" fill="black")
            p.review-submited__msg #[span Спасибо!] Ваш отзыв принят


    section.form-submited
        .form-submited__overlay.form-submited-close
        .form-submited__wrapper
            .form-submited__inner
                button.form-submited__close.form-submited-close(type="button" aria-label="Закрыть окно подтверждения отправки")
                    svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                        path(d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z" fill="black")
                .form-submited__top
                    h2.form-submited__title Готово!
                    p.form-submited__subtitle Менеджер перезвонит вам, узнает все детали и заказ будет оформлен.

                .form-submited__bottom
                    button.form-submited__hide.form-submited-close(type="button" aria-label="Закрыть окно подтверждения отправки") Закрыть




    section.popularGoods.goodsSection.slider-start.mightlike

        .autoscroll__block
            ul.autoscroll__list.list1
                li: h2.autoscroll__title вам может понравиться
                li: h2.autoscroll__title вам может понравиться
                li: h2.autoscroll__title.title__hidden |
            ul.autoscroll__list.list2
                li: h2.autoscroll__title вам может понравиться
                li: h2.autoscroll__title вам может понравиться
                li: h2.autoscroll__title.title__hidden |
            ul.autoscroll__list.list3
                li: h2.autoscroll__title вам может понравиться
                li: h2.autoscroll__title вам может понравиться
                li: h2.autoscroll__title.title__hidden |


        .container

            .goodsCard__wrapper

                include ./blocks/_goods-card-items

            button.brandsSection__btn.showmore__btn Показать еще







