extends base/_layout
block vars
    - var bodyClass = 'catalog-page';
block head
    title RR Beauty - Каталог
block page

    include ./blocks/_panel

    section.top

        .container

            ul.top__breadcrumps
                li: a(href="#") Главная
                li: a(href="#") Каталог
                li: span Средства ухода

            h2.top__title Пигменты

    .catalog

        .container.catalog__container

            .catalog__options.options

                .options__nav
                    button.options__filtersToggleBtn(aria-label="Показать / скрыть фильтры" type="button")
                        include blocks/_icon-filter
                        span Фильтр
                    button.options__sortToggleBtn(aria-label="Показать / скрыть сортировку" type="button" data-sort-type="popularity")
                        span.options__current По популярности
                        span.options__currentSmall Сортировка
                        include ./blocks/_icon-sort

                .options__overlay

                ul.options__sortList.sort

                    li: button(type="button" aria-label="Сортировать по популярности" data-sort-type="popularity")
                        span По популярности
                        img(src="./images/icon-popularity.svg" alt="")
                    li: button(type="button" aria-label="Сортировать по возрастанию цены" data-sort-type="increase")
                        span По возрастанию цены
                        img(src="./images/icon-increase.svg" alt="")
                    li: button(type="button" aria-label="Сортировать по по убыванию цены" data-sort-type="decrease")
                        span По убыванию цены
                        img(src="./images/icon-decrease.svg" alt="")

                .options__filtersList.filters

            .catalog__content


                .catalog__aditionalFilters.aditionalFilters

                    button.aditionalFilters__button Вся косметика
                    button.aditionalFilters__button Аппараты
                    button.aditionalFilters__button Все для отрисовки эскиза
                    button.aditionalFilters__button Дезинфицирующие средства
                    button.aditionalFilters__button Охлаждающие крема и гели
                    button.aditionalFilters__button Средства ухода

                .catalog__wrapper

                    -
                        var goodsList = [
                            {
                                imgUrl: './images/goods-card-4.png',
                                isSale: true,
                                isHit: false,
                                price: '3 800₸',
                                oldPrice: '4 800₸',
                                name: 'AS COMPANY',
                                descr: 'Пигмент для губ Nut pie (Ореховое пралине), 6 мл'
                            },
                            {
                                imgUrl: './images/goods-card-5.png',
                                isSale: false,
                                isHit: true,
                                price: '3 800₸',
                                oldPrice: false,
                                name: 'AS COMPANY',
                                descr: 'Корректор для сине-серых бровей FOR BLUE GRAY EYEBROWS, 6 мл'
                            },
                            {
                                imgUrl: './images/goods-card-6.png',
                                isSale: false,
                                isHit: false,
                                price: '3 800₸',
                                oldPrice: false,
                                name: 'AS COMPANY',
                                descr: 'Пигмент для бровей Brown haired (Шатен), 6 мл'
                            },
                            {
                                imgUrl: './images/goods-card-6.png',
                                isSale: false,
                                isHit: false,
                                price: '3 800₸',
                                oldPrice: false,
                                name: 'AS COMPANY',
                                descr: 'Корректор для сине-серых бровей FOR BLUE GRAY EYEBROWS, 6 мл'
                            },
                            {
                                imgUrl: './images/goods-card-7.png',
                                isSale: false,
                                isHit: false,
                                price: '3 800₸',
                                oldPrice: false,
                                name: 'AS COMPANY',
                                descr: 'Пигмент для бровей Brown haired (Шатен), 6 мл'
                            },
                            {
                                imgUrl: './images/goods-card-6.png',
                                isSale: false,
                                isHit: false,
                                price: '3 800₸',
                                oldPrice: false,
                                name: 'AS COMPANY',
                                descr: 'Корректор для сине-серых бровей FOR BLUE GRAY EYEBROWS, 6 мл'
                            },
                            {
                                imgUrl: './images/goods-card-6.png',
                                isSale: false,
                                isHit: false,
                                price: '3 800₸',
                                oldPrice: '4 800₸',
                                name: 'AS COMPANY',
                                descr: 'MATTE LIP LIQUID #matteaboutyou Жидкая матовая помада'
                            },
                            {
                                imgUrl: './images/goods-card-5.png',
                                isSale: false,
                                isHit: true,
                                price: '3 800₸',
                                oldPrice: false,
                                name: 'AS COMPANY',
                                descr: 'Корректор для сине-серых бровей FOR BLUE GRAY EYEBROWS, 6 мл'
                            },
                            {
                                imgUrl: './images/goods-card-6.png',
                                isSale: false,
                                isHit: false,
                                price: '3 800₸',
                                oldPrice: false,
                                name: 'AS COMPANY',
                                descr: 'Пигмент для бровей Brown haired (Шатен), 6 мл'
                            },
                        ]

                    each good in goodsList
                        +goodsCardItem(good.imgUrl, good.isSale, good.isHit, good.price, good.oldPrice, good.name, good.descr)



                +pagination('catalog__pagination')

                button.catalog__btn.showmore__btn Показать еще
