extends base/_layout
block vars
    - var bodyClass = 'index';
block head
    title RR Beauty - Главная страница
block page



    .intro
        .intro__container 
            .intro__wrapper

                .intro__block.intro__block--left
                    .intro__frame
                        .intro__slider(data-name="intro_slider_left")
                            ul.intro__sliderWrapper
                                li.intro__slide
                                    .intro__inner
                                        img(src="./images/intro-4.png" alt="")
                                        img(src="./images/intro-4-small.png" alt="")
                                li.intro__slide
                                    .intro__inner
                                        img(src="./images/intro-5.png" alt="")
                                        img(src="./images/intro-5-small.png" alt="")
                                li.intro__slide
                                    .intro__inner
                                        img(src="./images/intro-6.png" alt="")
                                        img(src="./images/intro-6-small.png" alt="")
                                li.intro__slide
                                    .intro__inner
                                        img(src="./images/intro-1.png" alt="")
                                        img(src="./images/intro-1-small.png" alt="")
                                li.intro__slide
                                    .intro__inner
                                        img(src="./images/intro-4.png" alt="")
                                        img(src="./images/intro-4-small.png" alt="")
                                li.intro__slide
                                    .intro__inner
                                        img(src="./images/intro-5.png" alt="")
                                        img(src="./images/intro-5-small.png" alt="")

                .intro__block.intro__block--center
                    .intro__frame
                        .intro__slider(data-name="intro_slider_center")
                            ul.intro__sliderWrapper
                                li.intro__slide
                                    .intro__inner
                                        img(src="./images/intro-5.png" alt="")
                                        img(src="./images/intro-5-small.png" alt="")
                                li.intro__slide
                                    .intro__inner
                                        img(src="./images/intro-6.png" alt="")
                                        img(src="./images/intro-6-small.png" alt="")
                                li.intro__slide
                                    .intro__inner
                                        img(src="./images/intro-1.png" alt="")
                                        img(src="./images/intro-1-small.png" alt="")
                                li.intro__slide
                                    .intro__inner
                                        img(src="./images/intro-4.png" alt="")
                                        img(src="./images/intro-4-small.png" alt="")
                                li.intro__slide
                                    .intro__inner
                                        img(src="./images/intro-5.png" alt="")
                                        img(src="./images/intro-5-small.png" alt="")
                                li.intro__slide
                                    .intro__inner
                                        img(src="./images/intro-6.png" alt="")
                                        img(src="./images/intro-6-small.png" alt="")

                .intro__block.intro__block--right
                    .intro__frame
                        .intro__slider(data-name="intro_slider_right")
                            ul.intro__sliderWrapper
                                li.intro__slide
                                    .intro__inner
                                        img(src="./images/intro-6.png" alt="")
                                        img(src="./images/intro-6-small.png" alt="")
                                li.intro__slide
                                    .intro__inner
                                        img(src="./images/intro-1.png" alt="")
                                        img(src="./images/intro-1-small.png" alt="")
                                li.intro__slide
                                    .intro__inner
                                        img(src="./images/intro-4.png" alt="")
                                        img(src="./images/intro-4-small.png" alt="")
                                li.intro__slide
                                    .intro__inner
                                        img(src="./images/intro-5.png" alt="")
                                        img(src="./images/intro-5-small.png" alt="")
                                li.intro__slide
                                    .intro__inner
                                        img(src="./images/intro-6.png" alt="")
                                        img(src="./images/intro-6-small.png" alt="")
                                li.intro__slide
                                    .intro__inner
                                        img(src="./images/intro-1.png" alt="")
                                        img(src="./images/intro-1-small.png" alt="")

            .intro__nav

                button.intro__btn.intro__prev(type="button" aria-label="")
                    svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                        path(d="M20.0002 11.0001V13.0001H8.00016L13.5002 18.5001L12.0802 19.9201L4.16016 12.0001L12.0802 4.08008L13.5002 5.50008L8.00016 11.0001H20.0002Z" fill="#000")

                button.intro__btn.intro__next(type="button" aria-label="")
                    svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                        path(d="M3.99984 11.0001V13.0001H15.9998L10.4998 18.5001L11.9198 19.9201L19.8398 12.0001L11.9198 4.08008L10.4998 5.50008L15.9998 11.0001H3.99984Z" fill="#000")


            ul.intro__pagination
                li.intro__paginationItem.active: span
                //- li.intro__paginationItem: span
                //- li.intro__paginationItem: span


    section.popularCategories
        .container 
            h2.popularCategories__title.animated__title Топ категории

            ul.popularCategories__list 

                - const numbersOfItems = [1, 2, 3, 4, 5, 6, 7, 8]

                each number in numbersOfItems 
                    +popularCategoriesItem(number)

    section.brandsSection
        .autoscroll__block
            ul.autoscroll__list.list1
                li: h2.autoscroll__title бренды
                li: h2.autoscroll__title бренды
                li: h2.autoscroll__title бренды
                li: h2.autoscroll__title бренды
                li: h2.autoscroll__title.title__hidden |
            ul.autoscroll__list.list2
                li: h2.autoscroll__title бренды
                li: h2.autoscroll__title бренды
                li: h2.autoscroll__title бренды
                li: h2.autoscroll__title бренды
                li: h2.autoscroll__title.title__hidden |
            ul.autoscroll__list.list3
                li: h2.autoscroll__title бренды
                li: h2.autoscroll__title бренды
                li: h2.autoscroll__title бренды
                li: h2.autoscroll__title бренды
                li: h2.autoscroll__title.title__hidden |

        .container 
            ul.brandsSection__list

                - const brands_items = [1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1]

                each number in brands_items 
                    +brandSectionItem(number)

            button.brandsSection__btn.showmore__btn Показать еще


    section.promotionsSection.slider-start
        .autoscroll__block
            ul.autoscroll__list.list1
                li: h2.autoscroll__title акции
                li: h2.autoscroll__title акции
                li: h2.autoscroll__title акции
                li: h2.autoscroll__title акции
                li: h2.autoscroll__title акции
                li: h2.autoscroll__title.title__hidden |
            ul.autoscroll__list.list2
                li: h2.autoscroll__title акции
                li: h2.autoscroll__title акции
                li: h2.autoscroll__title акции
                li: h2.autoscroll__title акции
                li: h2.autoscroll__title акции
                li: h2.autoscroll__title.title__hidden |
            ul.autoscroll__list.list3
                li: h2.autoscroll__title акции
                li: h2.autoscroll__title акции
                li: h2.autoscroll__title акции
                li: h2.autoscroll__title акции
                li: h2.autoscroll__title акции
                li: h2.autoscroll__title.title__hidden |


        .promotionsSection__container
            .promotionsSection__wrapper

                .promotionsSection__block.promotionsSection__block--first

                    .promotionsSection__item.promotions-item-1
                        .promotionsSection__sliderWrapper
                            .promotionsSection__slide
                                .promotionsSection__img
                                    img(src="./images/promotions-slide-1.png" alt="")
                                    span.promotionsSection__sticker.sticker__blue 15.09 - 15.10
                                h3.promotionsSection__name
                                    a(href="#") Скидка 15% на пигменты#[br]AS company
                            .promotionsSection__slide
                                .promotionsSection__img
                                    img(src="./images/promotions-slide-2.png" alt="")
                                    span.promotionsSection__sticker.sticker__blue 15.09 - 15.10
                                h3.promotionsSection__name
                                    a(href="#") Подарок от#[br]La Roche-Posay
                            .promotionsSection__slide
                                .promotionsSection__img
                                    img(src="./images/promotions-slide-3.png" alt="")
                                    span.promotionsSection__sticker.sticker__blue 15.09 - 15.10
                                h3.promotionsSection__name
                                    a(href="#") 305 by Miami Stylists#[br]до −35%

                    .promotionsSection__item.promotionsSection__over.over
                        .over__overlay

                        .promotionsSection__sliderWrapper

                            .promotionsSection__slide
                                .over__fragment
                                    .over__picture
                                        img(src="./images/over-slide-1.png" alt="Жидкая матовая помада")
                                        span.sticker__sale.stiker__azure -15%
                                    .over__descr 
                                        .over__price 
                                            span.over__priceNew 3 800₸
                                            span.over__priceOld 6 800₸
                                        h3.over__name: a(href="#") SHISEIDO
                                        p.over__about MATTE LIP LIQUID #matteaboutyou Жидкая матовая помада
                                .over__fragment
                                    .over__picture
                                        img(src="./images/over-slide-1.png" alt="Жидкая матовая помада")
                                    .over__descr 
                                        .over__price 
                                            span.over__priceNew 3 800₸
                                            span.over__priceOld 6 800₸
                                        h3.over__name: a(href="#") SHISEIDO
                                        p.over__about MATTE LIP LIQUID #matteaboutyou Жидкая матовая помада

                            .promotionsSection__slide
                                .over__fragment
                                    .over__picture
                                        img(src="./images/over-slide-1.png" alt="Жидкая матовая помада")
                                        span.sticker__sale.stiker__azure -15%
                                    .over__descr 
                                        .over__price 
                                            span.over__priceNew 3 800₸
                                            span.over__priceOld 6 800₸
                                        h3.over__name: a(href="#") SHISEIDO
                                        p.over__about MATTE LIP LIQUID #matteaboutyou Жидкая матовая помада
                                .over__fragment
                                    .over__picture
                                        img(src="./images/over-slide-1.png" alt="Жидкая матовая помада")
                                    .over__descr 
                                        .over__price 
                                            span.over__priceNew 3 800₸
                                            span.over__priceOld 6 800₸
                                        h3.over__name: a(href="#") SHISEIDO
                                        p.over__about MATTE LIP LIQUID #matteaboutyou Жидкая матовая помада

                            .promotionsSection__slide
                                .over__fragment
                                    .over__picture
                                        img(src="./images/over-slide-1.png" alt="Жидкая матовая помада")
                                        span.sticker__sale.stiker__azure -15%
                                    .over__descr 
                                        .over__price 
                                            span.over__priceNew 3 800₸
                                            span.over__priceOld 6 800₸
                                        h3.over__name: a(href="#") SHISEIDO
                                        p.over__about MATTE LIP LIQUID #matteaboutyou Жидкая матовая помада
                                .over__fragment
                                    .over__picture
                                        img(src="./images/over-slide-1.png" alt="Жидкая матовая помада")
                                    .over__descr 
                                        .over__price 
                                            span.over__priceNew 3 800₸
                                            span.over__priceOld 6 800₸
                                        h3.over__name: a(href="#") SHISEIDO
                                        p.over__about MATTE LIP LIQUID #matteaboutyou Жидкая матовая помада


                .promotionsSection__block.promotionsSection__block--second

                    .promotionsSection__item.promotions-item-3
                        .promotionsSection__sliderWrapper

                            .promotionsSection__slide
                                .promotionsSection__img
                                    img(src="./images/promotions-slide-2.png" alt="")
                                    span.promotionsSection__sticker.sticker__green 15.09 - 15.10
                                h3.promotionsSection__name
                                    a(href="#") Подарок от#[br]La Roche-Posay

                            .promotionsSection__slide
                                .promotionsSection__img
                                    img(src="./images/promotions-slide-3.png" alt="")
                                    span.promotionsSection__sticker.sticker__green 15.09 - 15.10
                                h3.promotionsSection__name
                                    a(href="#") 305 by Miami Stylists#[br]до −35%

                            .promotionsSection__slide
                                .promotionsSection__img
                                    img(src="./images/promotions-slide-1.png" alt="")
                                    span.promotionsSection__sticker.sticker__green 15.09 - 15.10
                                h3.promotionsSection__name
                                    a(href="#") Скидка 15% на пигменты#[br]AS company

                    .promotionsSection__item.promotions-item-4
                        .promotionsSection__sliderWrapper
                            .promotionsSection__slide
                                .promotionsSection__img
                                    img(src="./images/promotions-slide-3.png" alt="")
                                    span.promotionsSection__sticker.sticker__darkRed 15.09 - 15.10
                                h3.promotionsSection__name
                                    a(href="#") 305 by Miami Stylists#[br]до −35%
                            .promotionsSection__slide
                                .promotionsSection__img
                                    img(src="./images/promotions-slide-1.png" alt="")
                                    span.promotionsSection__sticker.sticker__darkRed 15.09 - 15.10
                                h3.promotionsSection__name
                                    a(href="#") Скидка 15% на пигменты#[br]AS company
                            .promotionsSection__slide
                                .promotionsSection__img
                                    img(src="./images/promotions-slide-2.png" alt="")
                                    span.promotionsSection__sticker.sticker__darkRed 15.09 - 15.10
                                h3.promotionsSection__name
                                    a(href="#") Подарок от#[br]La Roche-Posay



            button.brandsSection__btn.showmore__btn Показать еще


        .promotionsSection__nav.intro__nav

            button.intro__btn.intro__prev(type="button" aria-label="")
                svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                    path(d="M20.0002 11.0001V13.0001H8.00016L13.5002 18.5001L12.0802 19.9201L4.16016 12.0001L12.0802 4.08008L13.5002 5.50008L8.00016 11.0001H20.0002Z" fill="#000")

            button.intro__btn.intro__next(type="button" aria-label="")
                svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                    path(d="M3.99984 11.0001V13.0001H15.9998L10.4998 18.5001L11.9198 19.9201L19.8398 12.0001L11.9198 4.08008L10.4998 5.50008L15.9998 11.0001H3.99984Z" fill="#000")




    section.discountedProducts.slider-start

        .discountedProducts__bg 
            .discountedProducts__textLine.textLline__first
                .discountedProducts__inner
                    span товары
                    span товары
                    span товары
            .discountedProducts__textLine.textLline__second
                .discountedProducts__inner
                    span со скидкой
                    span со скидкой
                    span со скидкой

        .container
            h2.discountedProducts__title.animated__title товары со скидкой

            .goodsCard__wrapper

                include ./blocks/_goods-card-items

            button.brandsSection__btn.showmore__btn Показать еще




    section.popularGoods.goodsSection.slider-start

        .container
            h2.goodsSection__title.animated__title популярные товары

            .goodsCard__wrapper

                include ./blocks/_goods-card-items

            button.brandsSection__btn.showmore__btn Показать еще




    section.newGoods.goodsSection.slider-start

        .container
            h2.goodsSection__title.animated__title новинки

            .newGoods__wrapper.goodsCard__wrapper

                include ./blocks/_goods-card-items

            button.brandsSection__btn.showmore__btn Показать еще




    section.ourGoods.goodsSection.slider-start

        .container
            h2.goodsSection__title.animated__title наша продукция

            .goodsCard__wrapper

                include ./blocks/_goods-card-items

            button.brandsSection__btn.showmore__btn Показать еще



    section.mapSection
        //- .map__autoscroll.autoscroll__block.splide
        //-     .splide__track
        //-         ul.splide__list
        //-             li.splide__slide: h2.autoscroll__title наши магазины

        .autoscroll__block
            ul.autoscroll__list.list1
                li: h2.autoscroll__title наши магазины
                li: h2.autoscroll__title наши магазины
                li: h2.autoscroll__title.title__hidden |
            ul.autoscroll__list.list2
                li: h2.autoscroll__title наши магазины
                li: h2.autoscroll__title наши магазины
                li: h2.autoscroll__title.title__hidden |
            ul.autoscroll__list.list3
                li: h2.autoscroll__title наши магазины
                li: h2.autoscroll__title наши магазины
                li: h2.autoscroll__title.title__hidden |

        .map

            .mapSection__container

                .map__info
                    select.map__stores(name="stores" aria-label="Выбрать магазин") 
                        option(value="Almaty") Алматы
                        option(value="Astana") Астана
                        option(value="Moscow") Москва

                    .map__description
                        .map__description-wrapper
                            h3.map__storeName магазин №214
                            .map__data
                                p.map__name Адрес
                                p.map__value Краснодар, В. Головатого, 313 
                            .map__data
                                p.map__name График работы
                                p.map__value Ежедневно, 10:00 — 22:00
                            .map__data
                                p.map__name Горячая линия
                                p.map__value: a(href="tel:88008805060") 8 800 880 50 60
                            .map__data
                                p.map__name Почта
                                p.map__value: a(href="mailto:rrbeauty@gmail.com") rrbeauty@gmail.com

                        button.map__close(type="button" aria-label="Закрыть окно с описанием магазина") Закрыть


            .mapSection__wrapper#map-section-wrapper

                .mapSection__overlay







