extends base/_layout
block vars
    - var bodyClass = 'news-page';
block head
    title RR Beauty - Новости
block page

    .top

        .container

            include ./blocks/_breadcrupms

    section.news-item 

