extends base/_layout
block vars
    - var bodyClass = 'news-item-page';
block head
    title RR Beauty - Новости
block page

    .top

        .container

            include ./blocks/_breadcrupms

    .content
        .content__top
            .content__img
                img(src="./images/news-4.jpg" alt="модель L'Oreal")


        .content__block
            .container
                .content__inner
                    .content__title-wrapper
                        h2.content__title L’Oreal опровергла возможность возобновления поставок в Россию
                            span.content__decor

                    .content__wrapper
                        p Французская косметическая компания L'Oreal, которой принадлежат бренды Giorgio Armani Beauty, Lancome, Kerastase и Redken, не подтвердила готовность начать поставки в Россию. О этом сообщает «РИА Новости», ссылаясь на коммюнике компании.«L'Oreal вновь заявляет, что ее позиция не изменилась. L'Oréal строго соблюдает санкции ЕС и США», — говорится в заявлении.Косметическая компания добавила, что временно закрыла все собственные магазины, напрямую управляемые пункты продажи в универмагах и на сайтах под собственным брендом, а также приостановила рекламу.

                        .content__visual

                            .content__slider.swiper
                                .content__slider-wrapper.swiper-wrapper
                                    .content__slide.swiper-slide
                                        img(src="./images/news-slide1.jpg" alt="слайд")
                                    .content__slide.swiper-slide
                                        img(src="./images/news-slide2.jpg" alt="слайд")
                                    .content__slide.swiper-slide
                                        img(src="./images/news-slide3.jpg" alt="слайд")
                                    .content__slide.swiper-slide
                                        img(src="./images/news-slide4.jpg" alt="слайд")
                                    .content__slide.swiper-slide
                                        img(src="./images/news-slide4.jpg" alt="слайд")
                                    .content__slide.swiper-slide
                                        img(src="./images/news-slide3.jpg" alt="слайд")
                                    .content__slide.swiper-slide
                                        img(src="./images/news-slide2.jpg" alt="слайд")
                                    .content__slide.swiper-slide
                                        img(src="./images/news-slide1.jpg" alt="слайд")
                                    .content__slide.swiper-slide
                                        img(src="./images/news-slide3.jpg" alt="слайд")

                                .content__nav.intro__nav

                                    button.intro__btn.content__prev(type="button" aria-label="Показать предыдущий слайд")
                                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                                            path(d="M20.0002 11.0001V13.0001H8.00016L13.5002 18.5001L12.0802 19.9201L4.16016 12.0001L12.0802 4.08008L13.5002 5.50008L8.00016 11.0001H20.0002Z" fill="#000")

                                    span

                                    button.intro__btn.content__next(type="button" aria-label="Показать следующий слайд")
                                        svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                                            path(d="M3.99984 11.0001V13.0001H15.9998L10.4998 18.5001L11.9198 19.9201L19.8398 12.0001L11.9198 4.08008L10.4998 5.50008L15.9998 11.0001H3.99984Z" fill="#000")

                            .content__source 
                                span Источник
                                h3 L’Oreal Россия

                        p Французская косметическая компания L'Oreal, которой принадлежат бренды Giorgio Armani Beauty, Lancome, Kerastase и Redken, не подтвердила готовность начать поставки в Россию. О этом сообщает «РИА Новости», ссылаясь на коммюнике компании.«L'Oreal вновь заявляет, что ее позиция не изменилась. L'Oréal строго соблюдает санкции ЕС и США», — говорится в заявлении.Косметическая компания добавила, что временно закрыла все собственные магазины, напрямую управляемые пункты продажи в универмагах и на сайтах под собственным брендом, а также приостановила рекламу.

                        p Французская косметическая компания L'Oreal, которой принадлежат бренды Giorgio Armani Beauty, Lancome, Kerastase и Redken, не подтвердила готовность начать поставки в Россию. О этом сообщает «РИА Новости», ссылаясь на коммюнике компании.«L'Oreal вновь заявляет, что ее позиция не изменилась. L'Oréal строго соблюдает санкции ЕС и США», — говорится в заявлении.Косметическая компания добавила, что временно закрыла все собственные магазины, напрямую управляемые пункты продажи в универмагах и на сайтах под собственным брендом, а также приостановила рекламу.


    .mightlike.news-item__autoscroll

        .autoscroll__block
            ul.autoscroll__list.list1
                li: h2.autoscroll__title вам может быть интересно
                li: h2.autoscroll__title вам может быть интересно
                li: h2.autoscroll__title.title__hidden |
            ul.autoscroll__list.list2
                li: h2.autoscroll__title вам может быть интересно
                li: h2.autoscroll__title вам может быть интересно
                li: h2.autoscroll__title.title__hidden |
            ul.autoscroll__list.list3
                li: h2.autoscroll__title вам может быть интересно
                li: h2.autoscroll__title вам может быть интересно
                li: h2.autoscroll__title.title__hidden |


    section.news-item__mightlike.goodsSection.slider-start

        .container

            .goodsCard__wrapper

                -
                    var mightlikeList = [
                        {
                            imgUrl: {
                                first: 'news-3',
                                second: 'news-1',
                                third: 'news-4',
                            }
                        },
                        {
                            imgUrl: {
                                first: 'news-1',
                                second: 'news-4',
                                third: 'news-3',
                            }
                        },
                        {
                            imgUrl: {
                                first: 'news-9',
                                second: 'news-2',
                                third: 'news-5',
                            }
                        },
                    ]

                each item in mightlikeList
                    +mightlikeCardItem(item.imgUrl)

                .goodsCard__nav
                    .goodsCard__nav-wrapper

                        button.intro__btn.intro__prev(type="button" aria-label="")
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                                path(d="M20.0002 11.0001V13.0001H8.00016L13.5002 18.5001L12.0802 19.9201L4.16016 12.0001L12.0802 4.08008L13.5002 5.50008L8.00016 11.0001H20.0002Z" fill="#000")

                        button.intro__btn.intro__next(type="button" aria-label="")
                            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                                path(d="M3.99984 11.0001V13.0001H15.9998L10.4998 18.5001L11.9198 19.9201L19.8398 12.0001L11.9198 4.08008L10.4998 5.50008L15.9998 11.0001H3.99984Z" fill="#000")

            //- button.brandsSection__btn.showmore__btn Показать еще

