extends base/_layout
block vars
    - var bodyClass = 'news-page';
block head
    title RR Beauty - Новости
block page

    section.top

        .container

            ul.top__breadcrumps
                li: a(href="#") Главная
                li: a(href="#") Каталог
                li: span Средства ухода

            h2.top__title Новости


    .news
        .container
            .news__wrapper

                -
                    var newsList = [
                        {className: 'news__unit--m', img: '1'},
                        {className: 'news__unit--xs', img: '2'},
                        {className: 'news__unit--l', img: '3'},
                        {className: 'news__unit--l', img: '4'},
                        {className: 'news__unit--s', img: '5'},
                        {className: 'news__unit--s', img: '5'},
                        {className: 'news__unit--m', img: '1'},
                        {className: 'news__unit--l', img: '3'},
                        {className: 'news__unit--s', img: '9'},
                    ]

                each item in newsList
                    +newsCard(item.img)


            +pagination('news__pagination')

            button.catalog__btn.showmore__btn Показать еще
