extends base/_layout
block vars
    - var bodyClass = 'news-page';
block head
    title RR Beauty - Новости
block page

    section.top

        .container

            ul.top__breadcrumps
                li: a(href="#") Главная
                li: a(href="#") Каталог
                li: span Средства ухода

            h2.top__title Новости


    .news
        .container
            .news__wrapper
                .news__unit.news__unit--m 1
                .news__unit.news__unit--xs 2
                .news__unit.news__unit--l 3
                .news__unit.news__unit--l 4
                .news__unit.news__unit--s 5
                .news__unit.news__unit--s 6
                .news__unit.news__unit--m 7
                .news__unit.news__unit--l 8
                .news__unit.news__unit--xs 9
