extends base/_layout
block vars
    - var bodyClass = 'promotions-item-page';
block head
    title RR Beauty - Страница акции
block page

    .top

        .container

            include ./blocks/_breadcrupms

    .content
        .content__top
            .content__img
                img(src="./images/promotions-preview.jpg" alt="Превью акции")
                span.promotionsSection__sticker(style="background-color: #8E3E1C") 15.09 - 15.10
            .content__decor


        .content__block
            .container
                .content__inner
                    h2.content__title
                        span Скидка 15% в июне на пигменты#[br]AS company

                    .content__wrapper
                        p Французская косметическая компания L'Oreal, которой принадлежат бренды Giorgio Armani Beauty, Lancome, Kerastase и Redken, не подтвердила готовность начать поставки в Россию. О этом сообщает «РИА Новости», ссылаясь на коммюнике компании.«L'Oreal вновь заявляет, что ее позиция не изменилась. L'Oréal строго соблюдает санкции ЕС и США», — говорится в заявлении.Косметическая компания добавила, что временно закрыла все собственные магазины, напрямую управляемые пункты продажи в универмагах и на сайтах под собственным брендом, а также приостановила рекламу.



                        .popularGoods.goodsSection.content__visual.slider-start

                            .goodsCard__wrapper

                                include ./blocks/_goods-card-items



                        p Французская косметическая компания L'Oreal, которой принадлежат бренды Giorgio Armani Beauty, Lancome, Kerastase и Redken, не подтвердила готовность начать поставки в Россию. О этом сообщает «РИА Новости», ссылаясь на коммюнике компании.«L'Oreal вновь заявляет, что ее позиция не изменилась. L'Oréal строго соблюдает санкции ЕС и США», — говорится в заявлении.Косметическая компания добавила, что временно закрыла все собственные магазины, напрямую управляемые пункты продажи в универмагах и на сайтах под собственным брендом, а также приостановила рекламу.




