extends base/_layout
block vars
    - var bodyClass = 'regular-page';
block head
    title RR Beauty - Типовая
block page

    .top
        .container
            include ./blocks/_breadcrupms




    section.regular

        .regular__top
            .regular__container
                h2.top__title кабинет


        .regular__container
            .regular__wrapper

                h2 Скидка 15% в июне на пигменты#[br]AS company

                p Французская косметическая компания L'Oreal, которой принадлежат бренды Giorgio Armani Beauty, Lancome, Kerastase и Redken, не подтвердила готовность начать поставки в Россию. О этом сообщает «РИА Новости», ссылаясь на коммюнике компании.«L'Oreal вновь заявляет, что ее позиция не изменилась. L'Oréal строго соблюдает санкции ЕС и США», — говорится в заявлении.Косметическая компания добавила, что временно закрыла все собственные магазины, напрямую управляемые пункты продажи в универмагах и на сайтах под собственным брендом, а также приостановила рекламу.#[br]Французская косметическая компания L'Oreal, которой принадлежат бренды Giorgio Armani Beauty, Lancome, Kerastase и Redken, не подтвердила готовность начать поставки в Россию. О этом сообщает «РИА Новости», ссылаясь на коммюнике компании.«L'Oreal вновь заявляет, что ее позиция не изменилась. L'Oréal строго соблюдает санкции ЕС и США», — говорится в заявлении.Косметическая компания добавила, что временно закрыла все собственные магазины, напрямую управляемые пункты продажи в универмагах и на сайтах под собственным брендом, а также приостановила рекламу.

                h3 популярные товары

                p Французская косметическая компания L'Oreal, которой принадлежат бренды Giorgio Armani Beauty, Lancome, Kerastase и Redken, не подтвердила готовность начать поставки в Россию. О этом сообщает «РИА Новости», ссылаясь на коммюнике компании.«L'Oreal вновь заявляет, что ее позиция не изменилась. L'Oréal строго соблюдает санкции ЕС и США», — говорится в заявлении.Косметическая компания добавила, что временно закрыла все собственные магазины, напрямую управляемые пункты продажи в универмагах и на сайтах под собственным брендом, а также приостановила рекламу.

                h4 Скидка 15% 

                ul 
                    li Французская косметическая компания
                    li Французская косметическая компания
                    li Французская косметическая компания

                p Французская косметическая компания L'Oreal, которой принадлежат бренды Giorgio Armani Beauty, Lancome, Kerastase и Redken, не подтвердила готовность начать поставки в Россию. О этом сообщает «РИА Новости», ссылаясь на коммюнике компании.«L'Oreal вновь заявляет, что ее позиция не изменилась. L'Oréal строго соблюдает санкции ЕС и США», — говорится в заявлении.Косметическая компания добавила, что временно закрыла все собственные магазины, напрямую управляемые пункты продажи в универмагах и на сайтах под собственным брендом, а также приостановила рекламу.#[br]Французская косметическая компания L'Oreal, которой принадлежат бренды Giorgio Armani Beauty, Lancome, Kerastase и Redken, не подтвердила готовность начать поставки в Россию. О этом сообщает «РИА Новости», ссылаясь на коммюнике компании.«L'Oreal вновь заявляет, что ее позиция не изменилась. L'Oréal строго соблюдает санкции ЕС и США», — говорится в заявлении.Косметическая компания добавила, что временно закрыла все собственные магазины, напрямую управляемые пункты продажи в универмагах и на сайтах под собственным брендом, а также приостановила рекламу.



