-
    var goodsList = [
        {
            imgUrl: {
                first: 'goods-card-1',
                second: 'goods-card-10',
                third: 'goods-card-11',
            },
            isSale: true,
            isHit: false,
            price: '3 800₸',
            oldPrice: '4 800₸',
            name: {
                first: 'GIVENCHY',
                second: 'SHISEIDO',
                third: 'LUXVISAGE'
            },
            descr: {
                first: 'Легкая увлажняющая губная помада с мягким финишем Le Rouge Sheer Velvet',
                second: 'MATTE LIP LIQUID #matteaboutyou Жидкая матовая помада',
                third: 'Помада для губ с невесомым покрытием Visionairy Gel',
            },
            isAddedToFavorites: false
        },
        {
            imgUrl: {
                first: 'goods-card-2',
                second: 'goods-card-12',
                third: 'goods-card-13',
            },
            isSale: true,
            isHit: false,
            price: '3 800₸',
            oldPrice: '4 800₸',
            name: {
                first: 'SHISEIDO',
                second: 'GIVENCHY',
                third: 'LUXVISAGE'
            },
            descr: {
                first: 'MATTE LIP LIQUID #matteaboutyou Жидкая матовая помада',
                second: 'Легкая увлажняющая губная помада с мягким финишем Le Rouge Sheer Velvet',
                third: 'Помада для губ с невесомым покрытием Visionairy Gel',
            },
            isAddedToFavorites: false
        },
        {
            imgUrl: {
                first: 'goods-card-3',
                second: 'goods-card-14',
                third: 'goods-card-15',
            },
            isSale: true,
            isHit: false,
            price: '3 800₸',
            oldPrice: '4 800₸',
            name: {
                first: 'GIVENCHY',
                second: 'SHISEIDO',
                third: 'LUXVISAGE'
            },
            descr: {
                first: 'Помада для губ с невесомым покрытием Visionairy Gel',
                second: 'Легкая увлажняющая губная помада с мягким финишем Le Rouge Sheer Velvet',
                third: 'MATTE LIP LIQUID #matteaboutyou Жидкая матовая помада',
            },
            isAddedToFavorites: false
        },
        {
            imgUrl: {
                first: 'goods-card-4',
                second: 'goods-card-16',
                third: 'goods-card-17',
            },
            isSale: true,
            isHit: false,
            price: '3 800₸',
            oldPrice: '4 800₸',
            name: {
                first: 'GIVENCHY',
                second: 'SHISEIDO',
                third: 'LUXVISAGE'
            },
            descr: {
                first: 'Помада для губ с невесомым покрытием Visionairy Gel',
                second: 'Легкая увлажняющая губная помада с мягким финишем Le Rouge Sheer Velvet',
                third: 'MATTE LIP LIQUID #matteaboutyou Жидкая матовая помада',
            },
            isAddedToFavorites: false
        },
    ]

each good in goodsList
    +goodsCardItem(good.imgUrl, good.isSale, good.isHit, good.price, good.oldPrice, good.name, good.descr, good.isAddedToFavorites)

.goodsCard__nav
    .goodsCard__nav-wrapper

        button.intro__btn.intro__prev(type="button" aria-label="")
            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                path(d="M20.0002 11.0001V13.0001H8.00016L13.5002 18.5001L12.0802 19.9201L4.16016 12.0001L12.0802 4.08008L13.5002 5.50008L8.00016 11.0001H20.0002Z" fill="#000")

        button.intro__btn.intro__next(type="button" aria-label="")
            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                path(d="M3.99984 11.0001V13.0001H15.9998L10.4998 18.5001L11.9198 19.9201L19.8398 12.0001L11.9198 4.08008L10.4998 5.50008L15.9998 11.0001H3.99984Z" fill="#000")
