.goodsCard__item
    .goodsCard__descr
        .goodsCard__img
            img(src="./images/goods-card-1.png" alt="GIVENCHY")
            button.goodsCard__addToFavorites(type="button" aria-label="Добавить в избранное")
                img(src="./images/heart-icon.svg" alt="Добавить в избранное")
                img(src="./images/heart-icon-black.svg" alt="Убрать из избранного")
            span.sticker__sale.stiker__azure -10%
        .goodsCard__price
            span.goods__priceNew 3 800₸
            span.goods__priceOld 4 800₸
        h3.goodsCard__name GIVENCHY 
        p.goodsCard__about Легкая увлажняющая губная помада с мягким финишем Le Rouge Sheer Velvet

    button.goodsCard__addToCart(type="button" aria-label="Добавить товар в корзину") В корзину

.goodsCard__item
    .goodsCard__descr
        .goodsCard__img
            img(src="./images/goods-card-2.png" alt="SHISEIDO")
            button.goodsCard__addToFavorites(type="button" aria-label="Добавить в избранное")
                img(src="./images/heart-icon.svg" alt="Добавить в избранное")
                img(src="./images/heart-icon-black.svg" alt="Убрать из избранное")
            span.sticker__sale.stiker__hidden
        .goodsCard__price
            span.goods__priceNew 3 800₸
        h3.goodsCard__name SHISEIDO 
        p.goodsCard__about MATTE LIP LIQUID #matteaboutyou Жидкая матовая помада

    button.goodsCard__addToCart(type="button"
        aria-label="Добавить товар в корзину") В корзину

.goodsCard__item
    .goodsCard__descr
        .goodsCard__img
            img(src="./images/goods-card-3.png" alt="LUXVISAGE")
            button.goodsCard__addToFavorites(type="button" aria-label="Добавить в избранное")
                img(src="./images/heart-icon.svg" alt="Добавить в избранное")
                img(src="./images/heart-icon-black.svg" alt="Убрать из избранное")
            span.sticker__sale.stiker__hidden
        .goodsCard__price
            span.goods__priceNew 3 800₸
        h3.goodsCard__name LUXVISAGE 
        p.goodsCard__about Помада для губ с невесомым покрытием Visionairy Gel

    button.goodsCard__addToCart(type="button" aria-label="Добавить товар в корзину") В корзину

.goodsCard__item
    .goodsCard__descr
        .goodsCard__img
            img(src="./images/goods-card-1.png" alt="GIVENCHY")
            button.goodsCard__addToFavorites(type="button" aria-label="Добавить в избранное")
                img(src="./images/heart-icon.svg" alt="Добавить в избранное")
                img(src="./images/heart-icon-black.svg" alt="Убрать из избранное")
            span.sticker__sale.stiker__azure -10%
        .goodsCard__price
            span.goods__priceNew 3 800₸
            span.goods__priceOld 4 800₸
        h3.goodsCard__name GIVENCHY 
        p.goodsCard__about Легкая увлажняющая губная помада с мягким финишем Le Rouge Sheer Velvet

    button.goodsCard__addToCart(type="button" aria-label="Добавить товар в корзину") В корзину

.goodsCard__nav
    .goodsCard__nav-wrapper

        button.intro__btn.intro__prev(type="button" aria-label="")
            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                path(d="M20.0002 11.0001V13.0001H8.00016L13.5002 18.5001L12.0802 19.9201L4.16016 12.0001L12.0802 4.08008L13.5002 5.50008L8.00016 11.0001H20.0002Z" fill="#000")

        button.intro__btn.intro__next(type="button" aria-label="")
            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                path(d="M3.99984 11.0001V13.0001H15.9998L10.4998 18.5001L11.9198 19.9201L19.8398 12.0001L11.9198 4.08008L10.4998 5.50008L15.9998 11.0001H3.99984Z" fill="#000")
