-
    var goodsList = [
        {
            imgUrl: './images/goods-card-1.png',
            isSale: true,
            isHit: false,
            price: '3 800₸',
            oldPrice: '4 800₸',
            name: 'GIVENCHY',
            descr: 'Легкая увлажняющая губная помада с мягким финишем Le Rouge Sheer Velvet'
        },
        {
            imgUrl: './images/goods-card-2.png',
            isSale: false,
            isHit: false,
            price: '3 800₸',
            oldPrice: false,
            name: 'SHISEIDO',
            descr: 'MATTE LIP LIQUID #matteaboutyou Жидкая матовая помада'
        },
        {
            imgUrl: './images/goods-card-3.png',
            isSale: false,
            isHit: false,
            price: '3 800₸',
            oldPrice: false,
            name: 'LUXVISAGE',
            descr: 'Помада для губ с невесомым покрытием Visionairy Gel'
        },
        {
            imgUrl: './images/goods-card-1.png',
            isSale: true,
            isHit: false,
            price: '3 800₸',
            oldPrice: '4 800₸',
            name: 'GIVENCHY',
            descr: 'Легкая увлажняющая губная помада с мягким финишем Le Rouge Sheer Velvet'
        },
    ]

each good in goodsList
    +goodsCardItem(good.imgUrl, good.isSale, good.isHit, good.price, good.oldPrice, good.name, good.descr)
