header.header
    .header__container
        .container
            button.header__btn
                svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                    path(d="M7 10L12 15L17 10H7Z" fill="#838383")
                span Информация
            nav.header__menu
                ul
                    li: a(href="#") Бренды
                    li: a(href="#") Наши магазины
                    li: a(href="#") Акции
                    li: a(href="#") О компании
                    li: a(href="#") Доставка и оплата
                    li: a(href="#") Новости
                    li: a(href="#") Гарантия и возврат товара
                    li: a(href="#") Контакты
    .header__overlay

    include ./_panel
