<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_686_486)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M16.7674 1C20.4953 1 23 3.6158 23 7.5076V16.4924C23 20.3842 20.4953 23 16.7663 23H7.2315C3.5036 23 1 20.3842 1 16.4924V7.5076C1 3.6158 3.5036 1 7.2315 1H16.7674ZM16.7674 2.65H7.2315C4.4485 2.65 2.65 4.5563 2.65 7.5076V16.4924C2.65 19.4437 4.4485 21.35 7.2315 21.35H16.7663C19.5504 21.35 21.35 19.4437 21.35 16.4924V7.5076C21.35 4.5563 19.5504 2.65 16.7674 2.65ZM9.94355 8.76886L11.9978 10.823L14.051 8.77117C14.3733 8.44887 14.8947 8.44887 15.217 8.77117C15.5393 9.09347 15.5393 9.61487 15.217 9.93717L13.1638 11.989L15.2192 14.0456C15.5415 14.3679 15.5415 14.8893 15.2192 15.2116C15.0586 15.3733 14.8462 15.4536 14.6362 15.4536C14.4249 15.4536 14.2137 15.3733 14.0532 15.2116L11.9978 13.155L9.94575 15.2084C9.78515 15.3701 9.57395 15.4504 9.36275 15.4504C9.15155 15.4504 8.94035 15.3701 8.77975 15.2084C8.45745 14.8861 8.45745 14.3647 8.77975 14.0424L10.8318 11.989L8.77755 9.93486C8.45525 9.61256 8.45525 9.09116 8.77755 8.76886C9.10095 8.44656 9.62235 8.44656 9.94355 8.76886Z" fill="black" stroke="black" stroke-width="0.3"/>
</g>
<defs>
<clipPath id="clip0_686_486">
<rect width="24" height="24" fill="white"/>
</clipPath>
</defs>
</svg>
