.info__reviews-item

    .info__reviews-descr
        span.info__reviews-user Ярослав П.
        time.info__reviews-date(datetime="2023-05-24") 24 мая 2023

    form(action="#").rating.info__reviews-rating
        +starRating(true)

    .info__reviews-text
        p На глаз засветов не видно, но на камеру почему то видно. Но для данной матрицы, засветы в норме (У тфт 10 летней давности(v193hq), вроде больше. Хотя я думал там вообще нет никаких засветов)

    .info__reviews-images

        .info__reviews-img
            img(src="./images/info-img.png" alt="фото отзыва")
        .info__reviews-img
            img(src="./images/info-img.png" alt="фото отзыва")
        .info__reviews-img
            img(src="./images/info-img.png" alt="фото отзыва")

