nav.menu#menu

    .menu__search
        .panel__search
            img(src="./images/icon-search.svg" alt="")
            input.panel__input(type="text" aria-label="Поиск" placeholder="Поиск" autocomplete="off")
            svg.panel__clear(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label='Очистить поле поиска')
                path(d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z" fill="black")

    ul.menu__container
        li: a(href="#") Комплектующее к машинкам
        li: a(href="#") Анестетики
        li: a(href="#") Отрисовка эскиза
        li: a(href="#") Отрисовка эскиза
        li: a(href="#") Микроблейдинг
        li: a(href="#") Отрисовка эскиза
        li: a(href="#") Микроблейдинг
        li: a(href="#") Анестетики
        li: a(href="#") Анестетики
        li: a(href="#") Пигменты
        li: a(href="#") Уход и разбавители
        li: a(href="#") Комплектующее к машинкам
        li: a(href="#") Комплектующее к машинкам
        li: a(href="#") Комплектующее
        li: a(href="#") Отрисовка
        li: a(href="#") Уход и разбавители
        li: a(href="#") Комплектующее к машинкам
        li: a(href="#") Комплектующее к машинкам
        li: a(href="#") Комплектующее
        li: a(href="#") Отрисовка


