nav.menu#menu

    ul.menu__container
        li: a(href="#") Комплектующее к машинкам
        li: a(href="#") Анестетики
        li: a(href="#") Отрисовка эскиза
        li: a(href="#") Отрисовка эскиза
        li: a(href="#") Микроблейдинг
        li: a(href="#") Отрисовка эскиза
        li: a(href="#") Микроблейдинг
        li: a(href="#") Анестетики
        li: a(href="#") Анестетики
        li: a(href="#") Пигменты
        li: a(href="#") Уход и разбавители
        li: a(href="#") Комплектующее к машинкам
        li: a(href="#") Комплектующее к машинкам
        li: a(href="#") Комплектующее
        li: a(href="#") Отрисовка
        li: a(href="#") Уход и разбавители
        li: a(href="#") Комплектующее к машинкам
        li: a(href="#") Комплектующее к машинкам
        li: a(href="#") Комплектующее
        li: a(href="#") Отрисовка


