.panel
    .panel__line
    .panel__container 
        .panel__nav
            button.panel__showCategories#show-menu(aria-label="Показать или скрыть категории каталога")
                include ./_icon-categories-to-open
                include ./_icon-categories-to-close
                span Каталог
            .panel__search
                img(src="./images/icon-search.svg" alt="")
                input.panel__input(type="text" aria-label="Поиск" placeholder="Поиск")
                svg.panel__clear(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" aria-label='Очистить поле поиска')
                    path(d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z" fill="black")

        h1.panel__title
            a.panel__logo(href="#" aria-label="На главную")
                img(src="./images/logo.svg" alt="logo")
                span.visualhidden Оборудование для тату и татуажа (перманентный макияж) с доставкой по Алматы (Казахстан)


        .panel__menu

            //- состояние кнопки авторизации меняется при добавлении / удалении класса ".not-authorized" для кнопки "panel__user"
            a.panel__user.not-authorized(href="#" aria-label="Авторизация")
                span.panel__nonAuth
                    include ./_icon-user
                    span.user__name Войти
                span.panel__auth
                    span.user__icon a
                    span.user__name Алексей П. 

            //- для избранного и корзины отображение количества товаров включается при добавлении класса ".non-empty"
            a.panel__favorites.non-empty(href="#" aria-label="Перейти в избранное")

                include ./_icon-favorites

                span.panel__amount
                    span 4


            a.panel__cart(href="#" aria-label="Перейти в корзину")

                include ./_icon-cart

                span.panel__amount
                    span 4

    include ./_menu

.menu__overlay#menu-overlay
