// autoscroll block

.autoscroll__block {
  position: relative;
  min-height: 232px;
  padding: 30px 0 31px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 4px solid #000;
  overflow: hidden;

  @include r(1680px) {
    min-height: 222px;
    font-size: 120px;
    letter-spacing: 10px;
  }

  @include r(1480px) {
    min-height: 200px;
    font-size: 110px;
  }

  @include lg {
    .autoscroll__list li:nth-child(1) {
      display: none;
    }
  }

  @include sm {
    min-height: 160px;
    border-bottom: 1px solid #d9d9d9;
  }

  @include xs {
    min-height: 105px;
    padding: 26px 0;

    .autoscroll__list li:nth-child(1) {
      display: block;
    }
  }

  @include r(600px) {
    .autoscroll__list li:nth-child(1) {
      display: none;
    }
  }

  @include r(450px) {
    .autoscroll__list li:nth-child(2) {
      display: none;
    }
  }
}

.promotionsSection {
  .autoscroll__block {
    @include r(1700px) {
      .autoscroll__list li:nth-child(1) {
        display: none;
      }
    }

    @include r(1200px) {
      .autoscroll__list li:nth-child(2) {
        display: none;
      }
    }

    @include sm {
      .autoscroll__list li:nth-child(1) {
        display: block;
      }
    }

    @include r(860px) {
      .autoscroll__list li:nth-child(1) {
        display: none;
      }
    }

    @include xs {
      .autoscroll__list li:nth-child(1) {
        display: block;
      }
    }

    @include r(499px) {
      .autoscroll__list li:nth-child(1) {
        display: none;
      }
    }

    @include r(400px) {
      .autoscroll__list li:nth-child(3) {
        display: none;
      }
    }
  }
}

.mapSection {
  .autoscroll__block {
    @include r(450px) {
      .autoscroll__list li:nth-child(2) {
        display: block;
      }
    }
  }
}

.autoscroll__title {
  text-align: center;
  font-size: 140px;
  font-weight: 600;
  line-height: 122%;
  letter-spacing: 14px;
  text-transform: uppercase;
  white-space: nowrap;

  @include r(1680px) {
    font-size: 120px;
    letter-spacing: 10px;
  }

  @include r(1480px) {
    font-size: 110px;
  }

  @include lg {
    .autoscroll__list li:nth-child(1) {
      display: none;
    }
  }

  @include sm {
    font-size: 76px;
  }

  @include xs {
    font-size: 44px;
    line-height: normal;
    letter-spacing: 2.2px;
  }
}

.autoscroll__list {
  position: absolute;
  top: 30px;
  left: 0;
  width: 200%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 80px;
  will-change: transform;
}

.list1 {
  left: -100%;
  // background-color: aqua;
  animation: marquee1 10s linear 1 forwards;
  // transform: translateX(-50%);

  @include xxs {
    animation: marquee1 4s linear 1 forwards;
  }
}

.list2 {
  left: 100%;
  // background-color: chocolate;
  animation: marquee2 40s linear infinite;
  // transform: translateX(-50%);

  @include xxs {
    animation: marquee2 16s linear infinite;
  }
}

.list3 {
  left: 100%;
  // background-color: chartreuse;
  animation: marquee3 40s linear infinite;
  animation-delay: 20s;
  // transform: translateX(-50%);

  @include xxs {
    animation: marquee3 16s linear infinite;
    animation-delay: 8s;
  }
}

@keyframes marquee1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes marquee2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-200%, 0);
  }
}
@keyframes marquee3 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-200%, 0);
  }
}

.title__hidden {
  font-size: 1px;
  opacity: 0;
}
