.brandsSection {
  margin-top: 232px;

  @include xl {
    margin-top: 202px;
  }

  @include sm {
    margin-top: 162px;
  }
}

.brandsSection__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 36px 24px;
  padding-top: 65px;

  @include lg {
    grid-template-columns: repeat(4, 1fr);
  }

  // @include md {
  //   grid-template-columns: repeat(3, 1fr);
  // }

  @include md {
    gap: 16px 15px;
  }

  @include sm {
    padding-top: 24px;
  }

  @include xs {
    grid-template-columns: repeat(3, 1fr);
  }

  @include xxs {
    grid-template-columns: repeat(2, 1fr);
  }
}

.brandsSection__item {
  position: relative;
  opacity: 0;
  transition: all 0.4s ease-out;

  &::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 68.18%;
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(100%);
  }

  &:hover {
    // box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    opacity: 1 !important;
  }
}
