.cart__container {
  display: grid;
  grid-template-columns: 1fr 367px;
  grid-template-areas:
    "info checkout"
    "gift checkout";

  gap: 24px 0;

  @include lg {
    gap: 24px;
  }

  @include md {
    display: block;
    overflow-x: hidden;
  }
}

.cart__checkout {
  grid-area: checkout;
}

.cart__info {
  grid-area: info;
}

.cart__gift {
  grid-area: gift;
}

// === cart__checkout
.cart__checkout {
  border-left: 1px solid #d9d9d9;
  padding-bottom: 100px;

  @include md {
    max-width: 500px;
    margin: 24px auto 54px;
    // margin-top: 24px;
    // margin-bottom: 54px;
    padding-bottom: 0;
    border: none;
  }
}

.cart__promocode {
  display: block;
  width: 100%;
  margin-bottom: 41px;
  padding: 29px 24px;
  color: #000;
  background-color: #f1f1f1;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;

  &::placeholder {
    color: #acacac;
  }

  @include md {
    margin-bottom: 31px;
    padding: 17px 24px;
  }
}

.cart__checkout-inner {
  padding-left: 24px;

  @include md {
    padding-left: 0;
  }
}

.cart__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 41px;
  color: #000;
  font-size: 32px;
  font-weight: 600;

  @include md {
    margin-bottom: 31px;
  }
}

.cart__order,
.cart__reset {
  padding: 17px 20px;
}

.cart__order {
  margin-bottom: 13px;
}

// === cart__checkout

.cart__title-row {
  display: grid;
  grid-template-columns: 1fr 171px 158px 132px 158px;
  align-items: center;
  padding: 29px 0;
  border-bottom: 1px solid #d9d9d9;

  @include xl {
    grid-template-columns: 1fr 130px 158px 130px 130px;
  }

  @include lg {
    display: none;
  }
}

.cart__column-name {
  &:first-child {
    text-align: left;
  }
}

.cart__regular-row {
  position: relative;
  min-height: 104px;
  display: grid;
  grid-template-columns: 1fr 448px;
  align-items: center;
  border-left: 2px solid #000;
  border-bottom: 1px solid #d9d9d9;

  @include xl {
    grid-template-columns: 1fr 418px;
  }

  @include lg {
    grid-template-columns: 1fr;
    gap: 24px 0;
    margin: 12px 0;
    padding: 24px 24px 16px 24px;
    border: 1px solid #d9d9d9;
  }

  @include r(360px) {
    padding: 14px 10px 16px 10px;
  }
}

.cart__descr {
  display: grid;
  grid-template-columns: 100px 1fr 171px;
  align-items: center;

  @include xl {
    grid-template-columns: 100px 1fr 130px;
  }

  @include lg {
    grid-template-columns: 100px minmax(130px, 1fr);
    grid-template-areas:
      "img name"
      "img price";
    gap: 0 24px;
    border-bottom: 1px solid #d9d9d9;

    .cart__img {
      grid-area: img;
    }

    .cart__name {
      grid-area: name;
    }

    .cart__price {
      grid-area: price;
    }
  }

  @include md {
    grid-template-columns: 88px 1fr;
    align-items: flex-start;
  }
}

.cart__menu {
  display: grid;
  grid-template-columns: 158px 132px 158px;

  @include xl {
    grid-template-columns: 158px 130px 130px;
  }

  @include lg {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px 63px;
  }

  @include r(374px) {
    gap: 24px 40px;
  }

  @include r(360px) {
    gap: 24px 10px;
  }
}

.cart__amount {
  @include lg {
    order: 1;
  }
}

.cart__sum {
  @include lg {
    order: 3;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 20px;
    padding-top: 24px;
    border-top: 1px solid #d9d9d9;

    .cart__sum-new,
    .cart__sum-old {
      display: inline-block;
      width: unset;
      font-size: 22px;
    }
  }

  @include md {
    padding-top: 17px;
  }
}

.cart__buttons {
  @include lg {
    order: 2;
  }
}

.cart__column-name,
.cart__name,
.cart__price,
.cart__amount,
.cart__sum {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}

.cart__img {
  display: block;
  width: 100%;
  height: 104px;
  object-fit: cover;

  @include md {
    height: 88px;
  }
}

.cart__name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 10px 10px 21px;

  @include lg {
    padding: 0;
  }

  @include md {
    text-align: left;
    line-height: 20px;
  }
}

.cart__price {
  @include lg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 15px;

    .cart__price-new,
    .cart__price-old {
      display: inline-block;
      width: unset;
      font-size: 16px;
    }
  }
}

.cart__price-new,
.cart__price-old,
.cart__sum-new,
.cart__sum-old {
  display: block;
  width: 100%;
}

.cart__price-old,
.cart__sum-old {
  font-size: 14px;
  color: #acacac;
  text-decoration: line-through;
}

.cart__amount.details__amount {
  padding: 0;
  justify-content: center;

  order: unset;

  @include md {
    transform: translateX(15px);
  }

  @include r(360px) {
    transform: translateX(0);
  }
}

.cart__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 32px;

  @include md {
    transform: translateX(10px);
  }

  @include r(360px) {
    transform: translateX(0);
  }
}

.cart__add-to-favorites {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.2s ease-out;

    &:nth-child(1) {
      opacity: 1;
    }

    &:nth-child(2),
    &:nth-child(3) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  &:hover {
    img {
      &:nth-child(1) {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }

      &:nth-child(2) {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }

      &:nth-child(3) {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }
    }
  }
}

.cart__regular-row.addedToFavorites .cart__add-to-favorites {
  img {
    &:nth-child(1) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    &:nth-child(2) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }

    &:nth-child(3) {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
}

.cart__remove {
  display: block;
  padding: 0;
  width: 24px;
  height: 24px;

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }

  path {
    transition: all 0.2s ease-out;
  }

  &:hover path {
    fill: #acacac;
  }
}

// cart__removing

.cart__removing {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  // &.deleting {
  //   opacity: 1;
  //   visibility: visible;
  //   pointer-events: all;

  //   .cart__removing-bg {
  //     animation: animationBeforeRemoveFromCart 10s linear forwards;
  //   }
  // }
}

.cart__regular-row.deleting {
  .cart__removing {
    opacity: 1;
    visibility: visible;
    pointer-events: all;

    .cart__removing-bg {
      animation: animationBeforeRemoveFromCart 5s linear forwards;
    }
  }
}

.cart__removing-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}

.cart__removing-buttons {
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 16px;
  padding: 24px 0;

  @include r(360px) {
    padding: 0 10px;
  }
}

.cart__cancel {
  max-width: 342px;
  min-height: 56px;
  padding: 17px 20px;

  @include xs {
    max-width: 213px;
  }
}

.cart__delete-anyway {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  path {
    transition: all 0.2s ease-out;
  }

  &:hover path {
    fill: #000;
  }
}

@keyframes animationBeforeRemoveFromCart {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

// CART GIFT

.cart__gift {
  margin-bottom: 215px;

  @include md {
    margin-bottom: 162px;
  }
}

.cart__gift-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 30px;
  padding: 30px 0;
  color: #000;
  font-size: 17px;
  font-weight: 600;
}

.cart__gift-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 18px;
  background-color: #000;
  border: 2px solid #000;

  img {
    flex-shrink: 0;
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  @include md {
    align-items: flex-start;
    gap: 0 25px;
    border: 22px solid #000;

    img {
      width: 88px;
      height: 88px;
    }
  }
}

.cart__gift-name {
  padding: 10px 10px 10px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;

  @include md {
    padding: 0;
  }
}
