.catalog__container {
  display: grid;
  grid-template-columns: 342px 1fr;

  @include r(1199px) {
    display: block;
  }
}

.catalog__content {
  padding: 23px 5px 174px 24px;

  @include r(1199px) {
    padding: 24px 0 0 0;
  }

  @include xs {
    padding-top: 16px;
    padding-bottom: 164px;
  }
}

.aditionalFilters {
  display: flex;
  flex-wrap: wrap;
  gap: 11px 10px;
  margin-bottom: 36px;

  @include xs {
    gap: 6px;
    margin-bottom: 20px;
  }
}

.aditionalFilters__button {
  padding: 13px 13px;
  text-align: center;
  background-color: #f1f1f1;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: #000;
    color: #fff;
  }

  @include xxs {
    padding: 11px 13px;
  }
}

.catalog__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(332px, 1fr));
  gap: 41px 24px;
  margin-bottom: 90px;

  @include lg {
    grid-template-columns: repeat(auto-fit, minmax(332px, 1fr));
  }

  @include xs {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 48px;
  }

  @include xxs {
    max-width: 335px;
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
}

.catalog-page {
  @include xs {
    .catalog__pagination {
      display: none;
    }
  }

  @include xxs {
    .goodsCard__item {
      display: block;
    }
  }
}
