.catalog-page.sort-list-open,
.catalog-brand-page.sort-list-open {
  .catalog {
    position: relative;
    z-index: 11;
  }

  .options__overlay {
    // display: block;
    z-index: 11;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }

  .options__sortList {
    // display: block;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}

.catalog__container {
  display: grid;
  grid-template-columns: 342px 1fr;

  @include r(1199px) {
    display: block;
  }
}

.catalog__options {
  position: relative;
  z-index: 3;
}

.catalog__content {
  position: relative;
  z-index: 2;
  padding: 23px 5px 174px 24px;

  @include r(1199px) {
    padding: 24px 0 174px 0;
  }

  @include xs {
    padding-top: 16px;
    padding-bottom: 164px;
  }
}

.aditionalFilters {
  display: flex;
  flex-wrap: wrap;
  gap: 11px 10px;
  margin-bottom: 36px;

  @include xs {
    gap: 6px;
    margin-bottom: 20px;
  }
}

.aditionalFilters__button {
  padding: 13px 13px;
  text-align: center;
  background-color: #f1f1f1;
  transition: all 0.2s ease-out;

  &:hover {
    background-color: #000;
    color: #fff;
  }

  @include xxs {
    padding: 11px 13px;
  }
}

.catalog__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(332px, 1fr));
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 41px 24px;
  margin-bottom: 90px;

  @include lg {
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  // @include sm {
  //   // grid-template-columns: repeat(2, 1fr);
  //   grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  // }

  @include xs {
    margin-bottom: 48px;
  }

  @include xxs {
    margin: 0 auto;
    grid-template-columns: 1fr;
  }
}

// .cabinet-favorites-page {
//   .catalog__wrapper {
//     grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

//     @include xxs {
//       grid-template-columns: 1fr;
//     }
//   }
// }

.catalog-page {
  @include xs {
    .catalog__pagination {
      display: none;
    }
  }

  @include xxs {
    .goodsCard__item {
      display: block;
    }
  }
}

// catalog favorites page

.catalog-favorites-page {
  .catalog__container {
    display: block;
  }

  .catalog__content {
    padding: 23px 5px 174px;
  }

  @include xs {
    .catalog__pagination {
      display: none;
    }
  }

  @include xxs {
    .goodsCard__item {
      display: block;
    }
  }
}

// catalog search result page

.catalog-search-result-page {
  .top__search.panel__search {
    display: none;

    @include md {
      display: block;
      width: 100%;
      margin: 31px auto 0;
      background-color: #f1f1f1;
    }
  }

  .top__title {
    padding: 65px 0 10px;

    @include md {
      padding: 38px 0 8px;
    }
  }

  .top__amount {
    margin-left: 29px;
    color: #acacac;

    @include xxs {
      margin-left: 5px;
    }
  }

  .top__subtitle {
    margin-bottom: 51px;
    color: var(--color_grey, #838383);
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;

    @include xs {
      max-width: 500px;
      margin: 0 auto 36px;
      font-size: 14px;
      line-height: 19px;
    }

    @include xxs {
      max-width: 240px;
    }
  }

  .catalog__container {
    display: block;
  }

  .catalog__content {
    padding: 23px 5px 174px;
  }

  @include xs {
    .catalog__pagination {
      display: none;
    }
  }

  @include xxs {
    .goodsCard__item {
      display: block;
    }
  }
}

// brand descriptions block

.catalog-brand-page {
  .catalog__content {
    padding-bottom: 24px;
  }

  @include xs {
    .catalog__content {
      padding-bottom: 32px;
    }

    .catalog__pagination {
      display: none;
    }
  }

  @include xxs {
    .goodsCard__item {
      display: block;
    }
  }
}

.brandDescription {
  margin-top: 223px;
  border-top: 1px solid #d9d9d9;

  @include xs {
    margin-top: 120px;
  }
}

.brandDescription__title {
  position: relative;
  width: 100%;
  padding: 24px 0;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  transition: color 0.2s ease-out;

  cursor: pointer;

  svg {
    position: absolute;
    top: 22px;
    right: 23px;

    &:nth-child(1) {
      display: block;
    }

    &:nth-child(2) {
      display: none;
    }
  }

  &,
  path {
    transition: all 0.2s ease-out;
  }

  &:hover {
    color: var(--color_grey, #838383);

    path {
      fill: var(--color_grey, #838383);
    }
  }

  .brand-description-opened & {
    svg {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        display: block;
      }
    }
  }
}

.brandDescription__info {
  max-height: 0;
  margin-top: 5px;
  overflow: hidden;
  color: #757575;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.16px;
  transition: max-height 0.2s ease-out;

  // .brand-description-opened & {

  // }
}
