.content {
  padding-top: 25px;

  @include xxs {
    padding-top: 18px;
  }

  .container {
    padding: 0 40px;

    @include xxs {
      padding: 0 20px;
    }
  }
}

.content__top {
  max-width: 1236px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  padding: 0 20px;

  @include xxs {
    display: block;
  }
}

.content__img {
  position: relative;
  width: 49%;
  padding-top: 66%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include xs {
    width: 58%;
  }

  @include xxs {
    width: 100%;
    padding-top: 100%;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      width: 2px;
      height: 100%;
      background-color: #000;
    }

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 2;
      width: calc(100% + 20px);
      height: 2px;
      background-color: #000;
    }
  }
}

// promotions-item page
.promotions-item-page {
  .content__img {
    width: 65%;
  }

  .promotionsSection__sticker {
    bottom: 82px;
    min-width: 221px;
    z-index: 3;
    text-align: center;

    @include md {
      min-width: auto;
    }

    @include xs {
      bottom: 28px;
    }

    @include xxs {
      bottom: 2px;
    }
  }

  .content__decor {
    width: 33.28%;
  }

  @include xxs {
    .content__img {
      width: 100%;
    }
  }

  .goodsSection {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .goodsCard__about {
    margin-bottom: 26px;
    padding: 0 !important;

    &::after {
      display: none;
    }
  }

  .content__wrapper {
    p:first-child {
      padding-bottom: 36px;
    }

    .content__visual + p {
      padding-top: 59px;

      @include xs {
        padding-top: 16px;
      }
    }

    p:last-child {
      padding-bottom: 100px;

      @include xs {
        padding-bottom: 155px;
      }
    }
  }
}

// company page
.company-page {
  .content {
    position: relative;
  }

  .content__top {
    position: relative;
    max-width: 1480px;
    justify-content: flex-start;
    gap: 0 24px;
  }

  .content__heading {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 69.69%;
    padding: 57px 20px 82px 62px;
    color: #000;
    font-size: 74px;
    font-weight: 600;
    letter-spacing: 7.4px;
    text-transform: uppercase;
    background-color: #fff;
    border-bottom: 1px solid #d9d9d9;

    @include lg {
      padding: 45px 20px 40px 40px;
      font-size: 60px;
    }

    @include sm {
      padding: 40px 15px 25px 30px;
      font-size: 46px;
    }

    @include xs {
      position: static;
      width: 100%;
      padding: 13px 20px 33px;
      margin-bottom: 19px;
      text-align: center;
      font-size: 28px;
      letter-spacing: 1.4px;
    }
  }

  .content__img {
    // width: 66.11%;
    // padding-top: 54.51%;
    width: 66%;
    padding-top: 55%;

    @include xxs {
      width: 100%;
      padding-top: 100%;
    }
  }

  .content__decor {
    width: 23.75%;

    @include sm {
      width: 27.97%;
    }
  }

  .content__additional-img {
    position: absolute;
    right: 20px;
    top: 199px;
    width: 23.11%;

    &::after {
      content: "";
      display: block;
      padding-top: 105.56%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include lg {
      top: 130px;
    }

    @include sm {
      top: 60px;
    }

    @include xxs {
      display: none;
    }
  }

  .content__title {
    span {
      padding-right: 18px;
    }
  }

  .content__wrapper {
    p:first-child {
      @include sm {
        border: none;
      }
    }

    p:last-child {
      padding-bottom: 0;
      // padding-bottom: 89px;

      @include xs {
        padding-bottom: 63px;
      }
    }
  }
}

.content__decor {
  position: relative;
  z-index: 3;
  bottom: 82px;
  width: 49%;
  height: 48px;
  border: 2px solid #000;
  border-left: none;

  @include xs {
    bottom: 28px;
    width: 40%;
  }

  @include xxs {
    display: none;
  }
}

.content__inner {
  position: relative;
  top: -84px;
  z-index: 2;

  @include xs {
    top: -30px;
  }

  @include xxs {
    top: 0;
  }
}

.content__title {
  position: relative;
  max-width: 756px;
  margin: 0 auto;
  color: #000;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  border-top: 2px solid #000;

  @include lg {
    font-size: 42px;
    line-height: 48px;
  }

  @include sm {
    font-size: 38px;
    line-height: 44px;
  }

  @include xs {
    font-size: 30px;
    line-height: 36px;
  }

  @include xxs {
    border-top: none;
  }

  span {
    position: relative;
    display: block;
    width: 976px;
    padding: 34px 24px 32px 24px;
    background-color: #fff;

    @include lg {
      width: 853px;
    }

    @include sm {
      width: 100%;
    }

    @include xxs {
      padding: 29px 0 27px;
    }
  }
}

.content__wrapper {
  p {
    max-width: 756px;
    margin: 0 auto;
    padding: 0 24px;
    color: #838383;
    font-size: 16px;
    font-weight: 500;
    line-height: 162%;

    &:first-child {
      padding-bottom: 57px;
      border-right: 1px solid #d9d9d9;
      border-left: none !important;

      &::after {
        display: none;
      }

      @include xxs {
        padding-bottom: 32px;
      }
    }

    &:not(:first-child) {
      padding-bottom: 30px;
      border-left: 1px solid #d9d9d9;
    }

    &:last-child {
      position: relative;
      padding-bottom: 145px;
      border-left: none;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: calc(100% + 84px);
        background-color: #d9d9d9;
      }

      @include xs {
        padding-bottom: 150px;

        &::after {
          height: calc(100% + 30px);
        }
      }

      @include xxs {
        &::after {
          display: none;
        }
      }
    }

    @include xxs {
      &:nth-child(n) {
        border: none;
      }

      padding: 0;
      font-size: 14px;
      line-height: 158%;
    }
  }

  .content__visual + p {
    padding-top: 63px;

    @include lg {
      padding-top: 0;
    }
  }
}

.content__slider {
  position: relative;
  overflow: hidden;

  @include xxs {
    margin-right: -20px;
  }
}

.content__slide {
  position: relative;
  // max-width: 342px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 100%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.intro__nav.content__nav {
  display: flex;
  width: 100%;

  .intro__btn.swiper-button-disabled {
    display: none;
  }
}

.content__prev {
  border-left: 2px solid #000;
}

.content__next {
  border-right: 2px solid #000;
}

.content__visual {
  position: relative;
}

.content__source {
  position: absolute;
  top: 107%;
  left: 0;
  z-index: 2;

  span {
    display: block;
    margin-bottom: 10px;
    color: #474747;
    font-size: 12px;
    font-weight: 500;
  }

  h3 {
    color: #000;
    font-size: 16px;
    font-weight: 600;
  }

  @include lg {
    position: static;
    margin-top: 18px;
    margin-bottom: 36px;
    // padding-left: 20px;
  }

  // @include xxs {
  //   padding-left: 0;
  // }
}
