.discountedProducts {
  position: relative;
  overflow: hidden;

  @include xs {
    margin-top: 162px;
  }
}

.discountedProducts__bg {
  position: relative;
  background-color: #000;

  @include xs {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 477px;
    background-color: #000;
  }
}

.discountedProducts__textLine {
  border-bottom: 4px solid #1b1b1b;
}

.discountedProducts__inner {
  position: relative;
  display: flex;
  align-items: center;
  padding: 31px 0 31px;
  color: #1b1b1b;
  font-size: 140px;
  font-weight: 600;
  line-height: 122%;
  letter-spacing: 14px;
  text-transform: uppercase;

  span {
    white-space: nowrap;
    margin-right: 158px;

    &:nth-child(2) {
      color: #fff;
    }
  }

  @include xl {
    font-size: 102px;
    letter-spacing: 8px;
  }

  @include sm {
    font-size: 76px;
  }

  @include xs {
    padding: 26px 0;
    font-size: 60px;

    span {
      margin-right: 140px;
    }
  }
}

.textLline__first {
  .discountedProducts__inner {
    // transform: translateX(-665px);
    left: -665px;

    @include sm {
      // transform: translateX(-445px);
      left: -445px;
    }
  }
}

.textLline__second {
  margin-bottom: 24px;

  .discountedProducts__inner {
    transform: translateX(-712px);

    @include sm {
      transform: translateX(-560px);
    }
  }
}

.discountedProducts__title {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0 0 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;

  @include xs {
    position: static;
    clip: unset;
    clip-path: none;
    overflow: unset;
    height: auto;
    width: 100%;

    // margin-bottom: 36px;
    // padding: 0 40px;
    // color: #000;
    // font-size: 34px;
    // font-weight: 600;
    // letter-spacing: 1.2px;
    // text-transform: uppercase;

    padding: 31px 0 35px;
    color: #000;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 2.24px;
    text-transform: uppercase;
  }

  @include xxs {
    // margin-bottom: 26px;
    // padding: 0;
    font-size: 24px;
  }
}

// cards for discountedProducts section

.discountedProducts {
  .goodsCard__wrapper {
    @include sm {
      background-color: #000;
    }

    @include xs {
      background-color: #fff;
    }
  }

  .goodsCard__item {
    position: relative;
    padding-bottom: 101px;
    background-color: #000;

    .goodsCard__slide {
      background-color: #000;
    }

    &::after {
      content: "";
      position: absolute;
      top: -24px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      height: calc(100% + 24px);
      width: calc(100% + 48px);
      background-color: #000;
    }

    @include xs {
      background-color: #fff;
      padding-bottom: 0;

      .goodsCard__slide {
        background-color: #fff;
      }

      &::after {
        display: none;
      }
    }
  }

  .goods__priceNew,
  .goodsCard__name {
    color: #fff;
  }

  .goodsCard__about {
    color: var(--color_grey, #838383);
  }

  .goodsCard__addToCart {
    color: #fff;
    border-radius: 1px solid rgb(39, 39, 39);

    &:hover {
      color: #000;
      background-color: #fff;
    }
  }

  @include xs {
    .goods__priceNew,
    .goodsCard__name {
      color: #000;
    }

    .goodsCard__about {
      color: var(--color_grey, #838383);
    }

    .goodsCard__addToCart {
      color: #000;
      border: 1px solid rgb(208, 208, 208);

      &:hover {
        color: #fff;
        background-color: rgb(208, 208, 208);
      }
    }
  }
}
