.intro {
  max-height: 813px;
  overflow: hidden;
  opacity: 0;
  // transition: opacity 0.2s linear;

  // &.loaded {
  //   opacity: 1;
  // }
}

.intro__container {
  position: relative;
  margin: 0 auto;
}

.intro__wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 75%);
  gap: 0 24px;

  @include lg {
    grid-template-columns: repeat(3, 100%);
    gap: 0;
  }
}

.intro__block {
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 56.46%;
  }

  @include lg {
    height: 600px;

    &::after {
      display: none;
    }
  }
}

.intro__frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include lg {
    position: static;
  }
}

.intro__slider {
  height: 100%;
}

.intro__sliderWrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.intro__slide {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  overflow: hidden;

  &:nth-child(1),
  &:nth-child(2) {
    left: -100%;

    .intro__slide {
      transform: translateX(90%);
    }
  }

  &:nth-child(n + 4) {
    left: 100%;

    .intro__slide {
      transform: translateX(-90%);
    }
  }
}

.intro__inner {
  width: 100%;
  height: 100%;

  img:nth-child(2) {
    display: none;
  }

  @include xs {
    img:nth-child(1) {
      display: none;
    }
    img:nth-child(2) {
      display: block;
    }
  }
  // object-fit: cover;
}

// slider navigation

.intro__nav {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  width: 75%;
  max-width: 1440px;
  transform: translate(-50%, -50%);
  pointer-events: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include lg {
    width: 100%;
  }

  @include md {
    display: none;
  }
}

.intro__btn {
  width: 56px;
  height: 56px;
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  &,
  path {
    transition: all 0.2s ease-out;
  }

  @media (hover: hover) {
    &:hover {
      background-color: #000;

      path {
        fill: #fff;
      }
    }
  }
}

.intro__prev {
  border-left: 2px solid #000;
}

.intro__next {
  border-right: 2px solid #000;
}

.intro {
  .intro__btn.disabled {
    pointer-events: none;
  }

  @include md {
    .intro__nav {
      display: flex;
      top: 0;
      left: 0;
      transform: translate(0, 0);
      height: 100%;
    }

    .intro__btn {
      width: 30%;
      height: 100%;
      border: none;
      background-color: transparent;

      &,
      path {
        transition: none;
      }

      svg {
        visibility: hidden;
        pointer-events: none;
      }
    }
  }
}

// paggination

.intro__pagination {
  position: absolute;
  left: 0;
  top: unset !important;
  bottom: 48px !important;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;

  li {
    position: relative;
    width: 100%;
    max-width: 24px;
    height: 12px;
    // cursor: pointer;
    // border-radius: unset;
    transition: all 0.4s ease-out;
    overflow: hidden;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 0;
      z-index: 2;
      height: 4px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.5);
    }

    span {
      // content: "";
      position: absolute;
      top: 4px;
      left: 0;
      // transform: translate(-100%, 0);
      z-index: 3;
      height: 4px;
      width: 100%;
      background-color: #fff;

      // transform: translateX(-98px);
      transform: translateX(-100%);
    }
  }

  li:first-child {
    width: 166px;
    max-width: 166px;
  }

  li:not(:first-child) {
    display: none;
  }

  // li.active {
  //   max-width: 98px;

  //   // & span {
  //   //   // transition: all 5s linear;

  //   //   // transform: translate(0, 0);
  //   //   // animation: sliderProgress 5100ms linear;
  //   // }
  // }

  @include xs {
    bottom: 34px !important;
  }
}

// @keyframes sliderProgress {
//   from {
//     transform: translateX(-98px);
//   }
//   to {
//     transform: translateX(0);
//   }
// }
