.main {
  width: 100%;
  min-width: 320px;
  flex-grow: 1;
}

.index .main {
  overflow: hidden;
}

// .header {
//   overflow: hidden;
// }

// .panel {
//   overflow-x: hidden;
//   // display: none;
// }
