.mapSection {
  position: relative;
  margin-top: 265px;
  overflow: hidden;
  // !!!!!!!
  padding-bottom: 232px;
  // !!!!!!!

  @include xl {
    margin-top: 202px;
  }

  @include sm {
    margin-top: 162px;
  }
}

.map__autoscroll {
  @include xs {
    border-bottom: none;
  }
}

.mapSection__container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 45px;
  border: 4px solid #000;
  border-left: none;
  border-right: none;

  @include xs {
    padding-top: 0;
    border-top: none;
  }
}

.map__info {
  position: absolute;
  top: 65px;
  left: 240px;
  z-index: 3;
  width: 100%;
  max-width: 342px;

  @include xs {
    position: relative;
    top: unset;
    left: unset;
    max-width: 442px;
    margin: 0 auto;
    padding: 0 40px;
    border-bottom: 1px solid #d9d9d9;
  }

  @include xxs {
    max-width: 402px;
    padding: 0 20px;
  }

  .choices {
    width: 100%;
    margin: 0 auto;
  }

  .choices__inner {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: unset;
    padding: 14px 30px 14px 26px !important;
  }

  .choices[data-type*="select-one"]:after {
    border-color: #fff transparent transparent;
  }

  .choices[data-type*="select-one"].is-open:after {
    border-color: transparent transparent #fff;
  }
}

// store description

.map__description {
  position: absolute;
  left: 0;
  top: calc(100% + 24px);
  width: 100%;
  max-height: 515px;
  padding: 24px 26px;
  border: 2px solid #000;
  background-color: #fff;
  // transition: opacity 0.2s ease-out;

  @include xs {
    max-height: 530px;
    max-width: 362px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include xxs {
    width: calc(100% - 40px);
  }

  &.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.map__description-wrapper {
  max-height: 403px;
  overflow-y: scroll;

  @include xs {
    max-height: 440px;
  }
}

.map__storeName {
  padding: 10px 0 32px;
  font-size: 24px;
  font-weight: 600;
  line-height: 91.667%;
  text-transform: uppercase;
}

.map__data {
  padding: 24px 0 20px;

  border-top: 1px solid #d9d9d9;
}

.map__name {
  margin-bottom: 10px;
  color: var(--color_grey, #838383);
  font-size: 12px;
  font-weight: 500;

  @include xs {
    margin-bottom: 7px;
  }
}

.map__value {
  font-size: 16px;
  font-weight: 600;
}

.map__storeName {
  font-size: 24px;
  font-weight: 600;
  line-height: 91.667%;
  text-transform: uppercase;
  color: #000;
}

.map__close {
  width: 100%;
  margin-top: 10px;
  padding: 14px 20px;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  transition: all 0.2s ease-out;

  &:hover {
    color: #000;
    background-color: #fff;
  }
}

.mapSection__wrapper {
  position: relative;
  z-index: 2;
  min-height: 662px;

  @include xxs {
    min-height: 575px;
  }
}

.mapSection__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  cursor: pointer;

  &.hidden {
    display: none;
  }
}
