.oneclick {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  min-width: 320px;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.25);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.2s ease-out;

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.oneclick__overlay {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.oneclick__wrapper {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  max-width: 946px;
  height: 100%;
  // min-height: 947px;
  background-color: #fff;

  @include lg {
    max-width: 800px;
  }

  @include sm {
    max-width: 80%;
  }

  @include xs {
    max-width: 100%;
    height: 81.71vh;
    min-height: unset;
    top: unset;
    bottom: 0;
  }
}

.oneclick__inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 147px 0;

  overflow-y: auto;

  @include xs {
    padding: 15px 0;
  }
}

.oneclick__close-btn {
  position: absolute;
  top: 96px;
  right: 188px;
  z-index: 2;
  width: 32px;
  height: 32px;
  padding: 0;

  svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  path {
    transition: all 0.2s ease-out;
  }

  &:hover {
    path {
      fill: #acacac;
    }
  }

  @include sm {
    right: 130px;
  }

  @include xs {
    display: none;
  }
}

.oneclick__top {
  padding: 0 50px 30px;
  border-bottom: 1px solid #d9d9d9;
}

.oneclick__title {
  padding-top: 63px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 74px;
  font-weight: 600;
  letter-spacing: 7.4px;
  text-transform: uppercase;

  @include lg {
    padding-top: 40px;
    font-size: 54px;
    letter-spacing: 5px;
  }

  @include sm {
    padding-top: 20px;
    font-size: 40px;
    letter-spacing: 3.5px;
  }

  @include xs {
    font-size: 32px;
    letter-spacing: 1.6px;
  }
}

.oneclick__title--submited {
  display: none;
  padding-top: 154px;
}

.oneclick__subtitle {
  max-width: 350px;
  margin: 0 auto;
  color: #838383;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;

  @include xs {
    display: none;
  }
}

.oneclick__form-container {
  width: 100%;
  max-width: 504px;
  padding: 0 20px;
  margin: 0 auto;
}

.oneclick__input {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  padding: 12px 23px;
  color: #000;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;

  &::placeholder {
    color: #757575;
  }

  &.error {
    border-color: #f00;

    &::placeholder {
      color: #f00;
    }
  }
}

.oneclick__submit {
  display: block;
  width: 100%;
  margin: 36px auto 20px;
  padding: 17px 20px;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  transition: all 0.2s ease-out;

  &:hover {
    color: #000;
    background-color: #fff;
  }

  @include xs {
    margin-bottom: 30px;
  }
}

.oneclick__policy {
  color: #838383;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;

  a {
    color: #000;
    font-weight: 600;
    text-decoration: underline;
    transition: opacity 0.2s ease-out;

    &:hover {
      opacity: 0.7;
    }
  }

  @include xs {
    margin-bottom: 40px;
    font-size: 15px;
  }
}

.oneclick__hide-btn {
  display: none;
  width: 100%;
  padding: 17px 20px;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  transition: all 0.2s ease-out;

  &:hover {
    color: #fff;
    background-color: #000;
  }

  @include xs {
    display: block;
  }
}

// form submited

.oneclick.submited {
  .oneclick__wrapper {
    @include xs {
      height: 37.12vh;
    }
  }

  .oneclick__top {
    @include xs {
      padding: 0 20px 18px;
    }
  }

  .oneclick__title {
    display: none;
  }

  .oneclick__title--submited {
    display: block;

    @include xs {
      padding-top: 20px;
      padding-bottom: 12px;
    }
  }

  .oneclick__subtitle {
    display: block;
  }

  .oneclick__form {
    display: none;
  }

  .oneclick__policy {
    display: none;
  }

  .oneclick__hide-btn {
    display: block;
    max-width: 464px;
    margin: 24px auto 0;
    color: #fff;
    background-color: #000;

    &:hover {
      color: #000;
      background-color: #fff;
    }
  }
}
