.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  a,
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 56px;
    min-height: 56px;
  }

  a {
    font-size: 16px;
    font-weight: 600;
    background-color: #fff;
    transition: all 0.2s ease-out;

    &:hover {
      color: #fff;
      background-color: #000;
    }
  }

  .pagination__current {
    a {
      border: 1px solid #d9d9d9;
      color: #000;
      background-color: #fff;
      cursor: default;
    }
  }
}
