.panel {
  position: relative;
  z-index: 8;
  // border-bottom: 1px solid #d9d9d9;
  background-color: #fff;
}

.panel__line {
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 100%;
  height: 1px;
  background-color: #d9d9d9;

  @include xs {
    display: none;
  }
}

.panel__container {
  width: 100%;
  max-width: 1920px;
  min-height: 69px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 60px 0 54px;
  display: grid;
  grid-template-columns: 1fr 138px 1fr;
  align-items: center;

  @include lg {
    padding: 0 20px;
  }

  @include md {
    min-height: 80px;
  }

  @include xs {
    border-bottom: 1px solid #d9d9d9;
  }

  button,
  input,
  input::placeholder {
    color: #000;
    font-size: 16px;
    font-weight: 600;
  }

  button,
  a {
    transition: all 0.2s ease-out;
  }

  button:hover,
  a:hover {
    color: var(--color_grey, #838383);
  }
}

.panel__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 38px;
}

.panel__showCategories,
.panel__search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 16px;
}

.panel__showCategories {
  svg {
    display: block;
    width: 24px;
    height: 24px;
  }

  svg:nth-child(2) {
    display: none;
  }

  &.active {
    svg:nth-child(1) {
      display: none;
    }

    svg:nth-child(2) {
      display: block;
    }
  }

  @include md {
    svg {
      width: 28px;
      height: 28px;
    }

    span {
      display: none;
    }
  }
}

.panel__search {
  position: relative;
  width: 26vw;
  max-width: 500px;
  height: 54px;

  img {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
  }

  input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 48px;

    &:focus,
    &.active {
      background-color: #f1f1f1;
    }
  }

  @include lg {
    width: 23vw;
  }

  @include md {
    display: none;
  }
}

.panel__clear {
  display: none;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;

  &.visible {
    display: block;
  }
}

.panel__logo {
  position: relative;
  width: 138px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @include md {
    width: 136px;
  }
}

.panel__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.panel__user {
  display: flex;
  align-items: center;
  margin-right: 44px;

  &:hover {
    .user__icon {
      border-color: var(--color_grey, #838383);
    }
  }

  .panel__nonAuth {
    display: none;
    svg {
      display: block;
      width: 24px;
      height: 24px;
    }
  }

  .panel__auth {
    display: flex;
  }

  &.not-authorized {
    .panel__nonAuth {
      display: flex;
    }

    .panel__auth {
      display: none;
    }
  }

  @include md {
    margin-right: 0;
    .user__name {
      display: none;
    }

    .panel__nonAuth {
      svg {
        width: 28px;
        height: 28px;
      }
    }
  }
}

.panel__nonAuth,
.panel__auth {
  align-items: center;
  gap: 0 16px;
}

.user__icon {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  border: 2px solid #000;
  border-radius: 50%;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
}

.panel__favorites {
  margin-right: 36px;

  @include md {
    display: none;
  }
}

.panel__cart {
  @include md {
    display: none;
  }
}

// amount

.panel__favorites,
.panel__cart {
  position: relative;
}

.panel__showCategories,
.panel__user,
.panel__cart,
.panel__favorites {
  path {
    transition: all 0.2s ease-out;
  }

  &:hover {
    path {
      fill: var(--color_grey, #838383);
      stroke: var(--color_grey, #838383);
    }
  }
}

.panel__amout {
  display: none;
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 2;
  min-width: 24px;
  min-height: 24px;
  // display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50%;
  color: white;
  background-color: var(--color__azure, #3896ab);

  &::after {
    content: "";
    display: block;
    padding-top: 100%;
  }

  span {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .non-empty & {
    display: flex;
  }
}
