.popularCategories {
  margin-top: 159px;

  @include sm {
    margin-top: 100px;
  }
}

.popularCategories__title {
  padding: 30px 0 32px;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 2.24px;
  text-transform: uppercase;
  // border-top: 1px solid #d9d9d9;

  @include xs {
    padding: 30px 0 27px;
    font-size: 24px;
    letter-spacing: 1.2px;
  }
}

.popularCategories__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px 24px;

  @include lg {
    grid-template-columns: repeat(3, 1fr);
  }

  @include xs {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 16px;
  }
}

.popularCategories__item {
  padding-bottom: 27px;
  border-bottom: 1px solid #d9d9d9;

  &:hover {
    img {
      scale: 1.1;
    }
  }

  @include xs {
    padding-bottom: 9px;
  }
}

.popularCategories__link {
  display: block;
  height: 100%;
}

.popularCategories__img {
  position: relative;
  margin-bottom: 27px;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 111.11%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-out;
  }

  @include xs {
    margin-bottom: 10px;
  }
}

.popularCategories__name {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;

  @include xs {
    font-size: 16px;
  }
}
