.promotions {
  padding-bottom: 191px;

  @include xs {
    padding-bottom: 166px;
  }
}

.promotions__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  // grid-auto-rows: 10px;
  gap: 0 24px;
  margin-bottom: 36px;
  padding-top: 23px;

  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }

  @include xs {
    margin-bottom: 48px;
    padding-top: 35px;
  }

  @include xxs {
    display: block;
  }
}

.promotions__unit {
  &:nth-child(7n + 1),
  &:nth-child(7n + 2) {
    grid-row-end: span 69;

    .promotions__img {
      padding-top: 118.1%;
    }
  }

  &:nth-child(7n + 3) {
    grid-row-end: span 59;

    .promotions__img {
      padding-top: 95.47%;
    }
  }

  &:nth-child(7n + 4),
  &:nth-child(7n + 5) {
    grid-row-end: span 84;

    .promotions__img {
      padding-top: 149.57%;
    }
  }

  &:nth-child(7n + 6) {
    grid-row-end: span 53;

    .promotions__img {
      padding-top: 83.41%;
    }
  }

  &:nth-child(7n + 7) {
    grid-row-end: span 59;

    .promotions__img {
      padding-top: 95.26%;
    }
  }

  @include xxs {
    &:nth-child(n) {
      .promotions__img {
        padding-top: 100%;
      }
    }
  }
}

.promotions__unit {
  margin-bottom: 50px;
  border-bottom: 1px solid #d9d9d9;

  @include xxs {
    margin-bottom: 36px;
  }
}

.promotions__link {
  display: block;
  width: 100%;
  height: 100%;

  @media (hover: hover) {
    &:hover {
      .promotions__img {
        img {
          max-width: calc(100% - 20px);
          max-height: calc(100% - 20px);
          // transform: scale(0.9);
        }
      }

      .promotions__decor {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.promotions__img {
  position: relative;
  margin-bottom: 33px;

  img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s ease-out;
    transform-origin: bottom left;
  }

  .promotions__decor {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    width: 100%;
    height: calc(100% - 20px);
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-out;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 80px;
      height: 2px;
      background-color: #000;
    }
  }
}

.promotions__title {
  margin-bottom: 36px;
  color: #000;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;

  @include xs {
    margin-bottom: 22px;
    font-size: 24px;
    line-height: 32px;
  }
}

.promotions__pagination {
  @include xs {
    display: none;
  }
}
