.regular {
  padding: 0 0 380px;

  @include xs {
    padding: 0 0 153px;
  }

  h2 {
    margin-bottom: 36px;
    color: #000;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;

    @include xs {
      margin-bottom: 23px;
      font-size: 24px;
      line-height: 28px;
    }
  }

  p {
    color: #838383;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;

    &:not(:last-child) {
      margin-bottom: 83px;
    }

    @include xs {
      font-size: 14px;

      &:not(:last-child) {
        margin-bottom: 49px;
      }
    }
  }

  h3 {
    margin-bottom: 30px;
    color: #000;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 2.24px;
    text-transform: uppercase;

    @include xs {
      margin-bottom: 23px;
      font-size: 20px;
      letter-spacing: 1px;
    }
  }

  h4 {
    margin-bottom: 30px;
    color: #000;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;

    @include xs {
      margin-bottom: 23px;
      font-size: 19px;
      line-height: 32px;
    }
  }

  ul {
    padding-left: 9px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  li {
    position: relative;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;

    &::before {
      content: "";
      position: absolute;
      top: 14px;
      left: -14px;
      width: 8px;
      height: 1px;
      background-color: #000;
    }

    @include xs {
      font-size: 14px;
      font-weight: 500;
      line-height: 160%;

      &::before {
        top: 11px;
      }
    }
  }
}

.regular__container {
  width: 100%;
  max-width: 992px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.regular__wrapper {
  padding-top: 65px;
  padding-right: 55px;
  border-right: 1px solid #d9d9d9;

  @include sm {
    padding-top: 50px;
    padding-right: 0;
    border-right: none;
  }
}
