// ==== ANIMATED BLOCKS

.index {
  .header {
    opacity: 0;
    transition: opacity 0.2s linear;

    &.loaded {
      opacity: 1;
    }
  }

  .animated__title {
    position: relative;
    transform: translateX(50px);
    opacity: 0;
    transition: all 0.8s ease-out;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      background-color: #d9d9d9;
      height: 1px;
      width: 100%;
      transform: translateX(-100%);
      transition: all 0.4s ease-out;
      transition-delay: 0.5s;
    }

    &.animate {
      transform: translate(0);
      opacity: 1;

      &::after {
        transform: translateX(0);
      }
    }
  }

  .popularCategories__img {
    transform: translateX(40px);
    opacity: 0;
    transition: all 0.8s ease-out;
    transition-delay: 0.2s;

    &.animate {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .popularCategories__name {
    transform: translateY(10px);
    opacity: 0;
    transition: all 0.4s ease-out;
    transition-delay: 0.2s;

    &.animate {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .brandsSection__item {
    transform: translateX(-20px);

    &.animate {
      opacity: 0.5;
      transform: translateX(0);
    }
  }

  .over {
    transform: translateX(-50px);
    opacity: 0;
    transition: all 0.5s ease-out;
    transition-delay: 0.2s;

    &.animate {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .promotionsSection__block--first {
    &::after {
      min-height: 0;
      transition: min-height 1s ease-out;
      transition-delay: 0.5s;
    }

    &.animate::after {
      min-height: calc(100% - 84px);
    }

    .promotionsSection__item:first-child {
      position: relative;
      border-bottom: none;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        min-width: 0;
        background-color: #d9d9d9;
        transition: min-width 1.5s ease-out;
        transition-delay: 0.5s;
      }
    }

    .promotionsSection__item:first-child.animate::after {
      min-width: 100%;
      max-width: 100%;
    }

    @include xs {
      .promotionsSection__item::after {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }

      .promotionsSection__name {
        border-bottom: 1px solid #d9d9d9 !important;
      }
    }
  }

  .promotionsSection__block--second {
    .promotionsSection__item {
      position: relative;
      border-bottom: none;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 1px;
        min-width: 0;
        background-color: #d9d9d9;
        transition: min-width 1s ease-out;
        transition-delay: 0.5s;
      }
    }

    .promotionsSection__item:first-child.animate::after {
      min-width: 100%;
      max-width: 100%;
    }

    @include xs {
      .promotionsSection__item::after {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }

      .promotionsSection__name {
        border-bottom: 1px solid #d9d9d9 !important;
      }
    }
  }

  .promotionsSection__block--first {
    .promotions-item-1 {
      transform: translateY(40px);
      opacity: 0;
      transition: transform 0.4s ease-out;
    }

    .promotionsSection__name {
      transform: translateY(20px);
      opacity: 0;
      transition: all 0.3s ease-out;
      // transition-delay: 0.3s;
    }

    &.animate {
      .promotions-item-1 {
        transform: translateY(0);
        opacity: 1;
      }

      .promotionsSection__name {
        transform: translateY(0);
        opacity: 1;
        transition: color 0.2s ease-out;
      }
    }
  }

  .promotionsSection__block--second {
    .promotions-item-3,
    .promotions-item-4 {
      transform: translateY(40px);
      opacity: 0;
      transition: transform 0.4s ease-out;
    }

    .promotionsSection__name {
      transform: translateY(20px);
      opacity: 0;
      transition: all 0.3s ease-out;
      // transition-delay: 0.3s;
    }

    &.animate {
      .promotions-item-3,
      .promotions-item-4 {
        transform: translateY(0);
        opacity: 1;
      }

      .promotionsSection__name {
        transform: translateY(0);
        opacity: 1;
        transition: color 0.2s ease-out;
      }
    }
  }

  @media screen and (min-width: 576px) {
    .goodsSection {
      .goodsCard__slide {
        .goodsCard__img {
          transform: scale(0.9);
          transform: translateX(-15px);
          opacity: 0;
          transition: all 0.4s ease-out;
        }

        .goodsCard__addToFavorites {
          opacity: 0;
          transition: all 0.4s ease-out;
          transition-delay: 0.3s;
        }

        .goodsCard__price {
          transform: translateX(20px);
          opacity: 0;
          transition: all 0.4s ease-out;
          transition-delay: 0.2s;
        }

        .goodsCard__name,
        .goodsCard__about {
          transform: translateX(20px);
          opacity: 0;
          transition: all 0.4s ease-out;
          transition-delay: 0.4s;
        }

        .goodsCard__addToCart {
          transform: translateY(10px);
          opacity: 0;
          transition: all 0.3s ease-out;
        }
      }

      .goodsCard__slide.animate {
        .goodsCard__img {
          transform: scale(1);
          transform: translateX(0);
          opacity: 1;
        }

        .goodsCard__addToFavorites {
          opacity: 1;
        }

        .goodsCard__price,
        .goodsCard__name,
        .goodsCard__about {
          transform: translateX(0);
          opacity: 1;
        }

        .goodsCard__addToCart {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }

    .goodsSection.nodelay {
      .goodsCard__price,
      .goodsCard__name,
      .goodsCard__about,
      .goodsCard__addToFavorites {
        transition-delay: 0;
        transition: none;
      }
    }
  }

  .footer {
    overflow: hidden;
  }

  .footer__main-wrapper {
    .footer__column {
      transform: translateX(20px);
      opacity: 0;
      transition: all 0.5s ease-out;

      &:nth-child(2) {
        transition-delay: 0.1s;
      }

      &:nth-child(3) {
        transition-delay: 0.3s;
      }

      &:nth-child(4) {
        transition-delay: 0.5s;
      }
    }

    &.animate {
      .footer__column {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  .footer__copyright {
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      min-width: 0;
      height: 1px;
      background-color: #d9d9d9;
      transition: min-width 0.4s ease-out;
      transition-delay: 0.9s;
    }

    &.animate::after {
      min-width: 100%;
    }

    &.animate::after {
      @include xs {
        display: none;
      }
    }

    .footer__developedBy {
      transform: scale(1.1);
      opacity: 0;
      transition: all 0.4s ease-out;
      transition-delay: 1.1s;
    }

    .footer__period {
      transform: translateX(-30px);
      opacity: 0;
      transition: all 0.4s ease-out;
      transition-delay: 1.3s;
    }

    .footer__policy {
      transform: translateX(30px);
      opacity: 0;
      transition: all 0.4s ease-out;
      transition-delay: 1.3s;
    }

    &.animate {
      .footer__developedBy {
        transform: scale(1);
        opacity: 1;
      }

      .footer__period,
      .footer__policy {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}
